<select name="" class="seasons">
    <? foreach ($this->league->fetch_children() as $season): ?>
    <optgroup label="<?= $season->title ?>">
        <? foreach ($season->fetch_children() as $competition): ?>
        <option value="<?= $competition->id ?>">
            <?= $this->translate($competition->title) ?>
        </option>
        <? endforeach ?>
    </optgroup>
    <? endforeach ?>
</select>