<? $final_array = array('aaData'=>array()) ?>
    <? foreach ($this->players as $player): ?>
    <? $row_array = array(
        //player number
        $player->row->player_number,

        //link with photo and name
        '<a href="'.$this->url(array('controller'=>'player',
                                  'action'=>'index',
                                  'id'=>$player->id)).'">
        <img width="21" src="/img/player_pic/p144_'.$player->photo.'" alt=""> '
        .$this->translate($player->name).'</a>',

        //team logo and name
        '<img height="21" src="/img/team_pic/p144_'.$player->row->team_logo.'" alt=""> '
        .$this->translate($player->row->team_title),

        //games played
        $player->row->games_played,

        //total goals
        $player->row->total_goals,

        //points
        $player->row->points,

        //??
        0
    ) ?>
    <? $final_array['aaData'][] = $row_array ?>
    <? endforeach ?>
<?= json_encode($final_array) ?>