<h1 class="pad">
    <?= $this->title($this->translate($this->league->title).', '
                    .$this->translate('игры')) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'league',
                                              'league'=>$this->league)) ?>
<div id="content"
     style="background-image:url(
         '/img/main_pic/p144_<?= $this->league->image_file ?>');
         background-size:33%; background-position:center 50px;
         background-repeat:no-repeat;">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <select name="" id="seasons">
    <? foreach ($this->league->fetch_children() as $season): ?>
        <optgroup label="<?= $season->title ?>">
        <? foreach ($season->fetch_children() as $competition): ?>
            <option value="<?= $season->title ?> <?= $competition->title ?>">
                <?= $competition->title ?>
            </option>
        <? endforeach ?>
        </optgroup>
    <? endforeach ?>
    </select>
    <table id="games" class="table">
        <thead>
        <tr>
            <td class="n1 center"><?= $this->translate('ДАТА') ?>																				</td>
            <td class="n2 center"><?= $this->translate('Матч №') ?></td>
            <td class="n3"><?= $this->translate('Соревнование') ?></td>
            <td class="n4"> </td>
            <td class="n5 center"><?= $this->translate('Матчи') ?></td>
            <td class="n6"> </td>
            <td class="n8 center">HD</td>
            <td class="n7 center"><?= $this->translate('Дата загрузки') ?></td>
        </tr>
        </thead>
        <tbody>
        <!--game row-->
        <? foreach ($this->games as $game): ?>
        <tr>
            <td class="n1 center"><?= $game->datetime() ?></td>
            <td class="n2 center    "><?= $game->number ?></td>
            <td class="n3">
                <?= $this->translate($game->category()->parent()->title) ?>
                <?= $this->translate($game->category()->title) ?>
            </td>
            <td class="n4">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_one()->id)) ?>">
                    <?= $this->translate($game->team_one()->title) ?>
                </a>
            </td>
            <td class="n5 center">
                <a href="<?= $this->url(array('controller'=>'game',
                                              'action'=>'index',
                                              'id'=>$game->id)) ?>">
                    <?= $game->game_score ?>
                </a>
            </td>
            <td class="n6">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_two()->id)) ?>">
                    <?= $this->translate($game->team_two()->title) ?>
                </a>
            </td>
            <td class="n7 center">
                <? if ($game->video_hd): ?>
                <div class="ok"></div>
                <? endif ?>
            </td>
            <td class="n8 center">
                <? if (isset($game->video_time)): ?>
                <?= $game->datetime(null, 'video_time') ?>
                <? endif ?>
            </td>
        </tr>
        <!--end game row-->
        <? endforeach ?>
        </tbody>
        <tfoot>
    <tr>
        <td colspan="8" class="n1">
            <a style="padding: 0px;height: 0px;"></a>
            <a style="padding: 0px;height: 0px;"></a>
        </td>
    </tr>
    </tfoot>
    </table>
</div>
<script type="text/javascript">
    var table_lang = {
        "sLengthMenu": "<?= $this->translate('выводить по _MENU_рядов на страницу') ?>",
        "sZeroRecords": "<?= $this->translate('Ничего не найдено') ?> :(",
        "sProcessing": "<?= $this->translate('обработка') ?>...",
        "sSearch": "<?= $this->translate('Поиск') ?>:",
        "sFirst": "<?= $this->translate('первая') ?>",
        "sPrevious": "<?= $this->translate('Предыдущая') ?>",
        "sNext": "<?= $this->translate('Следующая') ?>",
        "sLast": "<?= $this->translate('последняя') ?>"
    }
</script>