<h1><?= $this->title($this->translate($this->league->title)) ?></h1>
<?= $this->partial('_side_panel.phtml', array('league'=>$this->league,
                                              'set'=>'league')) ?>
<div id="content">
    <ul class="items">
        <? foreach ($this->teams as $team): ?>
        <li class="item">
            <div class="i_pic">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$team->id)) ?>">
                    <img src="/img/team_pic/p144_<?= $team->logo ?>"
                         alt="<?= $team->title ?>"></a>
            </div>
            <div class="i_t">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$team->id)) ?>">
                    <?= $this->translate($team->title) ?></a>
            </div>
            <div class="label1">
                <a href="#"><?= $team->count_videos() ?></a>
            </div>
        </li>
        <? endforeach ?>
    </ul>
</div>