<h1><?= $this->title($this->translate($this->league->title)) ?></h1>
<?= $this->partial('_side_panel.phtml', array('league'=>$this->league,
                                              'set'=>'league')) ?>
<div id="content">
    <h5 style="margin:1em 0"><?= $this->translate('Нападающие') ?></h5>
    <div id="forwards" class="person1">
        <select name="" class="seasons">
            <? foreach ($this->league->fetch_children() as $season): ?>
            <optgroup label="<?= $season->title ?>">
                <? foreach ($season->fetch_children() as $competition): ?>
                <option value="<?= $competition->id ?>">
                    <?= $this->translate($competition->title) ?>
                </option>
                <? endforeach ?>
            </optgroup>
            <? endforeach ?>
        </select>
        <select class="teams"></select>
        <table class="table2">
            <thead>
            <tr>
                <td class="n1 border_right"><?= $this->translate('№') ?></td>
                <td class="n2 border_right"><?= $this->translate('ИГРОК') ?></td>
                <td class="n3 border_right"><?= $this->translate('КЛУБ') ?></td>
                <td title="<?= $this->translate('Количество проведенных игр') ?>"
                    el="1" order="1"
                    class="order n4 border_right">
                    <?= $this->translate('И') ?>
                </td>
                <td title="<?= $this->translate('Заброшенные шайбы') ?>"
                    el="1" order="2"
                    class="order n5 border_right">
                    <?= $this->translate('Ш') ?>
                </td>
                <td title="<?= $this->translate('Очки') ?>" el="1" order="3"
                    class="order n6 border_right">
                    <?= $this->translate('О') ?>
                </td>
                <td title="<?= $this->translate('Плюс/Минус') ?>" el="1"
                    order="4"
                    class="order  n7">+/-
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="footnote">
            <?= $this->translate('И') ?> -
            <?= $this->translate('Количество проведенных игр') ?>,
            <?= $this->translate('Ш') ?> -
            <?= $this->translate('Заброшенные шайбы') ?>,
            <?= $this->translate('О') ?> -
            <?= $this->translate('Очки') ?>,
            +/- -
            <?= $this->translate('Плюс/Минус') ?>
        </div>
    </div>
    <h5 style="margin:1em 0"><?= $this->translate('Защитники') ?></h5>
    <div class="person1" id="defenders">
        <select class="teams">
        </select>
        <table class="table2">
            <thead>
            <tr>
                <td class="n1 border_right"><?= $this->translate('№') ?></td>
                <td class="n2 border_right"><?= $this->translate('ИГРОК') ?></td>
                <td class="n3 border_right"><?= $this->translate('КЛУБ') ?></td>
                <td title="<?= $this->translate('Количество проведенных игр') ?>"
                    el="1" order="1"
                    class="order  n4 border_right">
                    <?= $this->translate('И') ?>
                </td>
                <td title="<?= $this->translate('Заброшенные шайбы') ?>"
                    el="1" order="2"
                    class="order n5 border_right">
                    <?= $this->translate('Ш') ?>
                </td>
                <td title="<?= $this->translate('Очки') ?>" el="1" order="3"
                    class="order n6 border_right">
                    <?= $this->translate('О') ?>
                </td>
                <td title="<?= $this->translate('Плюс/Минус') ?>" el="1"
                    order="4"
                    class="order  n7">+/-
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="footnote">
            <?= $this->translate('И') ?> -
            <?= $this->translate('Количество проведенных игр') ?>,
            <?= $this->translate('Ш') ?> -
            <?= $this->translate('Заброшенные шайбы') ?>,
            <?= $this->translate('О') ?> -
            <?= $this->translate('Очки') ?>,
            +/- -
            <?= $this->translate('Плюс/Минус') ?>
        </div>
    </div>
    <h5 style="margin:1em 0"><?= $this->translate('Вратари') ?></h5>
    <div class="person1" id="goalies">
        <select class="teams"></select>
        <table class="table2">
            <thead>
            <tr>
                <td class="n1 border_right"><?= $this->translate('№') ?></td>
                <td class="n2 border_right"><?= $this->translate('ИГРОК') ?></td>
                <td class="n3 border_right"><?= $this->translate('КЛУБ') ?></td>
                <td title="<?= $this->translate('Количество проведенных игр') ?>"
                    el="1" order="1"
                    class="order  n4 border_right">
                    <?= $this->translate('И') ?>
                </td>
                <td title="<?= $this->translate('Выигрыши') ?>"
                    el="1" order="2"
                    class="order  n5 border_right">
                    <?= $this->translate('В') ?>
                </td>
                <td title="<?= $this->translate('Проигрыши') ?>" el="1" order="3"
                    class="order  n6 border_right">
                    <?= $this->translate('П') ?>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="footnote">
            <?= $this->translate('И') ?> -
            <?= $this->translate('Количество проведенных игр') ?>,
            <?= $this->translate('В') ?> -
            <?= $this->translate('Выигрыши') ?>,
            <?= $this->translate('П') ?> -
            <?= $this->translate('Проигрыши') ?>
        </div>
    </div>
</div>
<script type="text/javascript">
    var league_id = <?= $this->league->id ?>;
    var table_lang = {
        "sLengthMenu": "<?= $this->translate('выводить по _MENU_рядов на страницу') ?>",
        "sZeroRecords": "<?= $this->translate('Ничего не найдено') ?> :(",
        "sProcessing": "<?= $this->translate('обработка') ?>...",
        "sSearch": "<?= $this->translate('Поиск') ?>:",
        "sFirst": "<?= $this->translate('первая') ?>",
        "sPrevious": "<?= $this->translate('Предыдущая') ?>",
        "sNext": "<?= $this->translate('Следующая') ?>",
        "sLast": "<?= $this->translate('последняя') ?>"
    }
</script>