<h1><?= $this->category->title ?></h1>
<aside>
    <ul>
        <li class="ico_home  first-child"><a href="/ru/">Главная</a></li>
        <li class="ico_stat"><a href="/ru/calendar/rus3">Календарь</a></li>
        <li class="ico_stat1 rd3"><a href="/ru/statistics/leader/rus3">Статистика</a></li>
        <li class="ico_back last-child"><a href="/ru/main/hockey">Назад</a></li>
        <!--<li class="ico_fav"><a href="#">Видео</a></li>-->
    </ul>
</aside>
<div id="content">
    <ul class="items">
        <? foreach ($this->category->fetch_children() as $child): ?>
        <li class="item">
            <div class="i_pic">
                <a href="<?= $this->url(array('controller'=>'category',
                                              'action'=>'index',
                                              'id'=>$child->id)) ?>">
                    <img src="/img/main_pic/p144_<?= $child->image_file ?>"
                         alt="<?= $child->title ?>"></a>
            </div>
            <div class="i_t">
                <a href="<?= $this->url(array('controller'=>'category',
                                              'action'=>'index',
                                              'id'=>$child->id)) ?>">
                    <?= $child->title ?></a>
            </div>
            <div class="label1">
                <a href="#">
                    <?= $child->count_videos() ?>
                </a>
            </div>
        </li>
        <? endforeach ?>
    </ul>
</div>