<h1><?= $this->title($this->translate('Контакты')) ?></h1>
<p><strong><?= $this->translate('Телефон') ?>:</strong>&nbsp;+7 (911) 425-72-10</p>
<p><strong>E-mail:&nbsp;</strong>director (at) studio3-1.com</p>
<p><strong>Skype:</strong>&nbsp;studio_3-1</p>
<p><span><br /></span></p>