<h1><?= $this->title($this->translate('цены')) ?></h1>
<table class="prices" border="0" align="center">
    <thead>
    <tr>
        <td class="empty">&nbsp;</td>
        <th>Light</th><th>Pro</th></tr>
    </thead>
    <tfoot>
    <tr><th><?= $this->translate('Стоимость одной подписки') ?></th>
        <td><?= $this->translate('12 000') ?> / <?= $this->translate('месяц') ?>*</td>
        <td><?= $this->translate('25 000') ?> / <?= $this->translate('месяц') ?><br />
            <span>(<?= $this->translate('ipad 2 - подарок') ?>)**</span>
        </td>
    </tr>
    <tr>
        <th>
            <?= $this->translate('Стоимость каждой дополнительной подписки') ?>
        </th>
        <td><?= $this->translate('12 000') ?> / <?= $this->translate('месяц') ?></td>
        <td><?= $this->translate('12 000') ?> / <?= $this->translate('месяц') ?></td>
    </tr>
    <tr>
        <td class="empty">&nbsp;</td>
        <td>
            <a href="/user/register">
                <input style="text-transform:uppercase;" type="submit"
                       value="<?= $this->translate('Бесплатный тест') ?>" />
            </a></td>
        <td>
            <a href="/user/register">
                <input  style="text-transform:uppercase;" type="submit"
                       value="<?= $this->translate('Бесплатный тест') ?>" />
            </a>
        </td>
    </tr>
    </tfoot>
    <tbody>
    <tr><th><?= $this->translate('Статистика и информация об игроках') ?></th>
        <td>&nbsp;<img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
        <td><img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" />&nbsp;</td>
    </tr>
    <tr><th><?= $this->translate('Доступ к полным матчам') ?></th>
        <td><?= $this->translate('Ограничен') ?>&nbsp;
            (3 <?= $this->translate('страны') ?>)</td>
        <td><img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
    </tr>
    <tr><th><?= $this->translate('Просмотр матчей') ?></th>
        <td><?= $this->translate('Ограничен') ?>&nbsp;
            (3 <?= $this->translate('страны') ?>)</td>
        <td>&nbsp;<img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
    </tr>
    <tr><th><?= $this->translate('Скачивание полных матчей') ?></th>
        <td><img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
        <td><img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
    </tr>
    <tr><th><?= $this->translate('Лучшие моменты игроков') ?>
        <span style="font-size: small;">
            (<?= $this->translate('по запросу') ?>)
        </span>
        </th>
        <td>&nbsp;</td>
        <td><img src="/upload/mce/image/checkbox.png" alt="" width="40" height="40" /></td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: left;">* <?= $this->translate('Минимальный период подписки - три месяца') ?></p>
<p style="text-align: left;">** <?= $this->translate('Подарок вручается только за первый год подписки при оплате всей суммы одним платежом') ?></p>