<h1><?= $this->title($this->translate('Главная')) ?></h1>
<div id="content">
<? $messages = $this->messenger->getMessages()?>
<? foreach ($messages as $message): ?>
    <?= $message ?>
<? endforeach ?>
<ul class="main">
    <li><?= $this->translate('Профессиональное программное обеспечение')?></li>
    <li><?= $this->translate('Просмотр игр по потоковому вещанию')?></li>
    <li><?= $this->translate('Поиск и наблюдение за матчами тысяч игроков по всему миру')?></li>
    <li><?= $this->translate('Открытие молодых талантов')?></li>
    <li><?= $this->translate('Сохраните время и деньги')?> -
        <a href="/user/register"><?= $this->translate('присоединяйтесь')?></a>
        <?= $this->translate('к')?> Studio 3:1!
    </li>
</ul>
</div>