/* hash: 211a62c787733e3090ced1b227ab519e */
html, body{padding:0;margin:0;width: 100%;height:100%;background-color:#e5eaeb;}
body, td{color:#535e62;font-size:12px;font-family:tahoma, arial, sans-serif;}
TABLE {border-collapse: collapse;}
TD {vertical-align:top;}
IMG {border:0;vertical-align:middle;}
A:hover {color:#5f93ea;text-decoration:none;}
h1{font-family:tahoma, arial, sans-serif; font-size:20px; color:#fdfeff;
   text-transform:uppercase; background-color:#67899f;
   border-top:3px solid #fb0606; padding:10px 30px; margin:0 -30px;
   position:relative; line-height:normal;}
h1.pad {padding-left:85px;margin-bottom: 0px;}
h2 {font-family:tahoma, arial, sans-serif; font-size:18px;color:#535e62; text-transform:uppercase;}
h3 {font-family:tahoma, arial, sans-serif; font-size:16px;color:#535e62; text-transform:uppercase;}
h4 {font-family:tahoma, arial, sans-serif; font-size:14px;color:#535e62; text-transform:uppercase;}
h5 {font-family:tahoma, arial, sans-serif; font-size:12px;color:#4489a1; text-transform:uppercase;}
h6 {font-family:tahoma, arial, sans-serif; font-size:11px;color:#535e62; text-transform:uppercase;margin-bottom:0;}
FORM, fieldset {margin:0;padding:0; border:0;}
Q {quotes: "\00AB" "\00BB";}
INPUT[type=text], INPUT[type=password], select, textarea {border:1px solid #c7d1d3; background-color:#f2f7f8;color:#535e62;font-size:12px;font-family:tahoma, arial, sans-serif;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:5px; width:250px; margin-right:10px;}
INPUT[type=submit], INPUT[type=button], button, .button{cursor:pointer;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-border-radius: 8px;border:0px; padding:3px 15px; color:#fff;background: #67899f;
    -webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#86a9c0), to(#67899f));
    background: -webkit-linear-gradient(#86a9c0, #67899f);
    background: -moz-linear-gradient(#86a9c0, #67899f);
    background: -ms-linear-gradient(#86a9c0, #67899f);
    background: -o-linear-gradient(#86a9c0, #67899f);
    background: linear-gradient(#86a9c0, #67899f);
    -pie-background: linear-gradient(#86a9c0, #67899f);}
INPUT[type=submit]:hover, INPUT[type=button]:hover, button:hover, .button:hover {background:#86a9c0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#67899f), to(#86a9c0));
    background: -webkit-linear-gradient(#67899f, #86a9c0);
    background: -moz-linear-gradient(#67899f, #86a9c0);
    background: -ms-linear-gradient(#67899f, #86a9c0);
    background: -o-linear-gradient(#67899f, #86a9c0);
    background: linear-gradient(#67899f, #86a9c0);
    -pie-background: linear-gradient(#67899f, #86a9c0);}
INPUT[type=submit]:active, INPUT[type=button]:active, button:active, .button:active {background:#86a9c0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#67899f), to(#86a9c0));
    background: -webkit-linear-gradient(#67899f, #86a9c0);
    background: -moz-linear-gradient(#67899f, #86a9c0);
    background: -ms-linear-gradient(#67899f, #86a9c0);
    background: -o-linear-gradient(#67899f, #86a9c0);
    background: linear-gradient(#67899f, #86a9c0);
    -pie-background: linear-gradient(#67899f, #86a9c0);}
:focus {outline: 0;}

header,footer,article,section,hgroup,nav,figure{display:block;}

article {width: 1120px;}
div.container {margin: 0 auto; width: 1180px;position: relative;}

.index {
    width:500px;
    margin:0 auto;
    padding:15px;
    background:#ebf7fc;
    border:1px solid #fff;
    line-height:200%;
    margin-bottom:40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;}
.index2 {width:500px; margin:0 auto; line-height:150%;}
.index h2 {margin-top:0;}

#wrap{min-height:100%; _height:100%;}

#wrap, header, nav, article, footer {clear:both; position:relative;}

header {background-image:url(img/bg2.gif); background-repeat:repeat-x; border-bottom:1px solid #b6bac0; font-size:11px;}
header #header_inner {height:157px;background-image:url(img/bg1.jpg); background-repeat:no-repeat;}
header #logo {position:absolute; right:0; top:0; width:424px; height:149px;background-image:url(img/logo.png); background-repeat:no-repeat;}
header #logo  a {display:block; width:100%; height:100%;}

header #login {position:absolute; right:30px; top:110px; text-align:right;}
header #login, header #login a, header #login h6 {color:#fff;}
header #login fieldset {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;margin-left:7px;}
header #login label {color:#fff;}
header #login input[type=text], header #login input[type=password] {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; border:none; background-color:#fff;width:105px;margin-left:4px;padding:3px;opacity: 0.6;filter:alpha(opacity=60);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
header #login input[type=submit] {background-color:transparent; background:none; -pie-background:none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border:0px;  width:101px; height:23px;background-image:url(img/but_enter.png); background-repeat:no-repeat;text-transform:uppercase; font-size:11px; font-weight:bold;color:#4489A1;}
header #login a {text-decoration:none; }
header #login.cabinet {background-image:url(img/ico_man.png); background-repeat:no-repeat; padding-left:25px;text-align:left;width:330px;}
header #login.cabinet b {padding-top:5px;}
header #login.cabinet form {float:right; margin:0 0 0 10px;}
header #login.cabinet input[type=submit] {background-image:url(img/but_exit.png);position:absolute; right:0; top:0;color:#fff}
header #login.cabinet p {margin:5px 0 0 0;}

header #search {position:absolute; left:30px; top:110px;height:39px;}
header #search input[type=text] {border:1px solid #5c6678; width:160px; position:relative;padding-left:15px;}
header #search input[type=submit] {padding:4px 15px;}
header #search .ico {position:absolute;bottom:0; left:-20px; width:34px; height:33px;background-image:url(img/ico_search.png); background-repeat:no-repeat;}
header #search label {position:absolute; top:8px; left:20px;font-size:12px;}
header #search fieldset {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}

header #lang {position:absolute; top:5px; left:30px; font-size:11px;text-transform:upeprcase;padding-top:2px}
header #lang, header #lang a {color:#fff;text-decoration:none;}
header #lang ul, header #lang li {margin:0; padding:0; list-style:none;background-image:none;display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}
header #lang ul {margin-left:22px;}
header #lang li {margin-right:15px; }
header #lang a {display:block; padding-right:28px; background-position:100% 0; background-repeat:no-repeat;min-height:16px;_height:16px;}
header #lang .f_ru a {background-image:url(img/ico_ru.gif);}
header #lang .f_en a {background-image:url(img/ico_en.gif);}



nav {background-color:#fff; padding:0 20px;text-align:center;height: 32px;}
nav .sf-menucont {margin-left: 125px;}
.sf-menu, .sf-menu * {
    margin:			0;
    padding:		0;
    list-style:		none;
}
.sf-menu {
    line-height:	1.0;
}
.sf-menu ul {
    position:		absolute;
    top:			-999em;
    width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    /*width:			100%;*/
}
.sf-menu li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float:			left;
    position:		relative;
    clear: none;
    width: 100%;
}
.sf-menu a {
    display:		block;
    position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:			0px;
    top:			32px; /* match top ul list item height */
    z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:			273px; /* match ul width */
    top:			-5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:			273px; /* match ul width */
    top:			-5px;
}
ul.sf-menu li li li li:hover ul,
ul.sf-menu li li li li.sfHover ul {
    left:			273px; /* match ul width */
    top:			-5px;
}



/*** DEMO SKIN ***/
.sf-menu {
    display:block;
    margin:0; padding:0; list-style:none;background-image:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    margin: 0 10px 0 10px;
    color:#676565;
    background-position:50% -86px;
    font-size:10px;text-transform:uppercase; font-weight:bold; text-decoration:none;  display:block; padding:12px 10px 10px 10px;background-repeat:no-repeat;background-image:url(img/bg5.gif);
}
.sf-menu li {
    height: 32px;
    width: auto;
    margin:0; padding:0; list-style:none;background-image:none;
    display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; text-align:center;line-height:10px;min-height:30px;_height:30px;position:relative;
}

.sf-menu li ul {
    background:		#fff;
    width: 270px;
    padding-bottom: 5px;
    -webkit-border-bottom-right-radius: 8px;-moz-border-radius-bottomright: 8px;border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-left-radius: 8px;
    -webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 2px 2px 6px;
}
.sf-menu li li {
    margin-top: 5px;
    background:		#fff;
    width: 270px;
    background-repeat:no-repeat;
    white-space:nowrap;
    line-height:11px;
}
.sf-menu li li a span {
    display: block;
    width: 225px;
    overflow: hidden;
}
.sf-menu li li a, .sf-menu li.active li a, .sf-menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    background-position:50% -86px;
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#11486e;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:no-repeat;background-image:none;
}

.sf-menu li li:hover, .sf-menu li li.sfHover {
    background-image:url(img/left_arr.png);background-repeat:no-repeat;
    background-position:0 0;
}
/*
.sf-menu li li div:hover, .sf-menu li li.active div.active, .sf-menu li li.sfHover div.active{
	background-image:none; background-repeat:repeat-y; background-position:100% 0;
}
*/
.sf-menu li li.sfHover > div, .sf-menu li li:hover > div {
    background-image:url(img/right_arr.png);background-repeat:no-repeat;
}

.sf-menu li li.sfHover li a {
    background-position:50% -86px;
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#11486e;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:no-repeat;background-image:none;
}
.sf-menu li li.sfHover li a:focus, .sf-menu li li.sfHover li.sfHover a, .sf-menu li li.sfHover li a:hover, .sf-menu li li.sfHover li a:active {
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#fff;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:repeat-x;background-image:url(img/mid_arr.png);
    background-position:50% 0;
}
.sf-menu li li.sfHover li.sfHover li a {
    background-position:50% -86px;
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#11486e;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:no-repeat;background-image:none;
}
.sf-menu li li.sfHover li.sfHover li a:focus, .sf-menu li li.sfHover li.sfHover li.sfHover a, .sf-menu li li.sfHover li.sfHover li a:hover, .sf-menu li li.sfHover li.sfHover li a:active {
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#fff;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:repeat-x;background-image:url(img/mid_arr.png);
    background-position:50% 0;
}
.sf-menu li li.sfHover li.sfHover li.sfHover li a {
    background-position:50% -86px;
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#11486e;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:no-repeat;background-image:none;
}
.sf-menu li li.sfHover li.sfHover li.sfHover li a:focus, .sf-menu li li.sfHover li.sfHover li.sfHover li.sfHover a, .sf-menu li li.sfHover li.sfHover li.sfHover li a:hover, .sf-menu li li.sfHover li.sfHover li.sfHover li a:active {
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#fff;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:repeat-x;background-image:url(img/mid_arr.png);
    background-position:50% 0;
}


.sf-menu li li a:focus, .sf-menu li li.sfHover a, .sf-menu li li a:hover, .sf-menu li li a:active {
    font-size:11px;text-transform:uppercase; font-weight:bold; color:#fff;text-decoration:none;  display:block; padding:11px 10px 10px 10px;background-repeat:repeat-x;background-image:url(img/mid_arr.png);
    background-position:50% 0;
}

.sf-menu > li:hover, .sf-menu > li.active, .sf-menu > li.sfHover {
    background-color: #ededed; background-image:url(img/bg3.gif); background-repeat:repeat-y;
    background-position:0 0;
}
.sf-menu li > div:hover, .sf-menu li.active > div.active, .sf-menu li.sfHover > div{
    background-image:url(img/bg4.gif); background-repeat:repeat-y; background-position:100% 0;
}

.sf-menu li.active a {
    font-size:10px;text-transform:uppercase; font-weight:bold; color:#676565;text-decoration:none;  display:block; padding:12px 10px 10px 10px;background-repeat:no-repeat;background-image:url(img/bg5.gif);
    background-position:50% 0;
}

.sf-menu > li > ul {
    padding-top: 10px;
    background-repeat:no-repeat;
    background-position: 50% 0;
    background-image:url(img/tt_arr.png);
}


article {padding:0 30px 70px 30px;min-height:530px;_height:530px;margin-bottom: 10px;}
article form label {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; width:200px; padding-top:7px;}
article form fieldset {vertical-align:middle;}

article ul.main, article ul.main li {font-size:18px;margin:0; padding:0; list-style:none;background-image:none;}
article ul.main li {margin-bottom:20px; list-style-image:url(img/li.png); margin-left:33px;}

dt, dd {float: left;height: 40px;}
.new_row {height:1px; clear:both;}
.new_row_new {height:1px; clear:both;}
.disabl {display: none;}
ul.errors {display: none;}

#content {margin:2em 0 0 140px; width: 1010px;float:none;display:block;
          position:relative;}
aside {padding-top: 23px;background-image:url(img/bg6.gif); background-repeat:no-repeat; min-height:489px;_height:489px;background-position:100% 0;width:100px; float:left; padding-right:20px; margin-right:0px;margin-bottom:75px;}
aside ul, aside li {margin:0; padding:0; list-style:none;background-image:none;}
aside li {margin-bottom:15px;}
aside li a {display:block;width:90px;padding-top:95px;background-repeat:no-repeat;text-align:center;background-position:100% 0;}
aside li a, aside li a:link {text-decoration:none;color: #525354;}
aside li a:hover {text-decoration:underline;color: #525354;}
aside li:hover a, aside li.active a {background-position:0 0;}
aside li.ico_home a {background-image:url(img/bg7.jpg);}
aside li.ico_stat a {background-image:url(img/bg8.jpg);}
aside li.ico_stat1 a {background-image:url(img/stat.png);}
aside li.ico_games a {background-image:url(img/ico_games.png);}
aside li.ico_film a {background-image:url(img/bg9.jpg);}
aside li.ico_lineups a {background-image:url(img/line_ups.png);}
aside li.ico_fav a {background-image:url(img/bg10.jpg);}
ul.back li{margin:0; padding:0; list-style:none;background-image:none;}
ul.back li a{display:block;width:90px;padding-top:95px;background-repeat:no-repeat;text-align:center;background-position:100% 0;}
ul.back li a, aside li a:link {text-decoration:none;color: #525354;}
ul.back li a:hover {text-decoration:underline;color: #525354;}
ul.back li:hover a, aside li.active a {background-position:0 0;}
ul.back {position: absolute; bottom: 31px; left: 30px;margin:0; padding:0; list-style:none;background-image:none;}
li.ico_back a {background-image:url(img/arrowleft.png);}

ul.items {margin:0; padding:0; list-style:none;background-image:none; }
ul.items li.item {margin:0; padding:0; list-style:none;background-image:none; }
ul.items li.item {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;text-align:center;background-color:#e8e6e6; -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;-webkit-border-radius: 8px; width:165px;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 2px 2px 6px;position:relative;margin-right:30px; margin-bottom:30px;}
ul.items li.item .i_t, ul.items li.item .i_pic {padding:10px;}
ul.items li.item .i_t{height: 24px;overflow:hidden;}
ul.items li.item .i_pic {background-color:#edf1f7; -webkit-border-radius: 8px 8px 0 0;-moz-border-radius: 8px 8px 0 0;border-radius: 8px 8px 0 0;-webkit-border-radius: 8px 8px 0 0;}
ul.items li.item a, ul.items li.item a:link,ul.items li.item a:hover {color:#656565; text-decoration:none;display:block;}
ul.items li.item .label1 {position:absolute; top:15px; left:125px; background:#7096cf; border:1px solid #7a9fd5;min-width: 48px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a4c2e9), to(#7096cf));
    background: -webkit-linear-gradient(#a4c2e9, #7096cf);
    background: -moz-linear-gradient(#a4c2e9, #7096cf);
    background: -ms-linear-gradient(#a4c2e9, #7096cf);
    background: -o-linear-gradient(#a4c2e9, #7096cf);
    background: linear-gradient(#a4c2e9, #7096cf);
    -pie-background: linear-gradient(#a4c2e9, #7096cf);}
ul.items li.item .label1 a, ul.items li.item .label1 a:link, ul.items li.item .label1 a:hover {display:block;text-align:right;padding:7px 5px 7px 27px; background-image:url(img/ico_film.png); background-repeat:no-repeat;background-position:0 50%;color:#fff;}
ul.items li.item .label2 {position:absolute; top:50px; left:125px; width: 50px;height:30px;}
ul.items li.item .label2 a, ul.items li.item .label2 a:link, ul.items li.item .label2 a:hover {display:block;text-align:right;padding:7px 5px 7px 27px; color:#fff;}
/*ul.items li.item .label2 a, ul.items li.item .label2 a:link, ul.items li.item .label2 a:hover {display:block;text-align:right;padding:7px 5px 7px 27px; background-image:url(img/ico_sh.png); background-repeat:no-repeat;background-position:0 50%;color:#fff;}*/
ul.items li.item .label3 {position:absolute; top:85px; left:125px; background:#72b55e; border:1px solid #82bd6b;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d1e3b1), to(#72b55e));
    background: -webkit-linear-gradient(#d1e3b1, #72b55e);
    background: -moz-linear-gradient(#d1e3b1, #72b55e);
    background: -ms-linear-gradient(#d1e3b1, #72b55e);
    background: -o-linear-gradient(#d1e3b1, #72b55e);
    background: linear-gradient(#d1e3b1, #72b55e);
    -pie-background: linear-gradient(#d1e3b1, #72b55e);}
ul.items li.item .label3 a, ul.items li.item .label3 a:link, ul.items li.item .label3 a:hover {display:block;text-align:right;padding:7px 5px; color:#fff;text-transform:uppercase;}
ul.items li.item .label4 {position:absolute; top:120px; left:125px; background:#489c84; border:1px solid #4ba08b;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#78beb5), to(#489c84));
    background: -webkit-linear-gradient(#78beb5, #489c84);
    background: -moz-linear-gradient(#78beb5, #489c84);
    background: -ms-linear-gradient(#78beb5, #489c84);
    background: -o-linear-gradient(#78beb5, #489c84);
    background: linear-gradient(#78beb5, #489c84);
    -pie-background: linear-gradient(#78beb5, #489c84);}
ul.items li.item .label4 a, ul.items li.item .label4 a:link, ul.items li.item .label4 a:hover {display:block;text-align:right;padding:7px 5px 7px 27px; background-image:url(img/ico_strength.png); background-repeat:no-repeat;background-position:0 50%;color:#fff;}

ul.items li.item .label5 {position:absolute; top:93px; left:11px;width: 30px;height: 30px;background-repeat:no-repeat;}
ul.items li.item .label6 {position:absolute; top:125px; left:11px; width: 30px;height: 30px;background-image: url(img/bg11.png);background-repeat:no-repeat;}
ul.items li.item .label6 a, ul.items li.item .label6 a:link, ul.items li.item .label6 a:hover {display:block;font-size:17px;padding:0px 0px; color:#34363e;text-transform:uppercase;line-height:30px;margin:0px;}
ul.items li.item .label7 {position:absolute; top:61px; left:11px; width: 30px;height: 30px;background-repeat:no-repeat;}

.prices {width:773px;margin-bottom:10px;}
.prices td, .prices th {border:1px solid #fff; padding:25px; vertical-align:middle;width:33.3%; text-align:center;}
.prices thead th { font-weight:bold; color:#fff; font-size:24px;text-transform:uppercase;text-shadow: #3e3202 0px 0px 7px; background-color:#f0d700}
.prices thead th.rd3 {background-color:#f3c405}
.prices tbody th {text-align:left; color:#705000; font-weight:bold; font-size:14px; background-color:#e2b603;}
.prices tbody td {color:#fff; font-size:14px; background-color:#7ca4bd;}
.prices tbody td.rd3 {background-color:#6d90a6;}
.prices .ok {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; width:33px; height:25px; background-image:url(img/li.png); background-repeat:no-repeat;}
.prices tfoot {margin-top:15px;}
.prices tfoot th {text-align:right; color:#705000; font-weight:bold; font-size:14px; background-color:#e2b603;}
.prices tfoot td {background-color:#47de9c;text-shadow: #3e3202 0px 0px 7px;font-weight:bold; color:#fff; font-size:20px;text-transform:uppercase;}
.prices tfoot td.rd3 {background-color:#3ec98c;}
.prices tfoot td span {font-size:14px;}
.prices .empty {border:none; background:transparent;}

.choose {margin-bottom:15px;padding-top:23px;}
.choose select {padding:0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;-webkit-border-radius: 0;margin-right:0; width:150px;}

h1 .gerb {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; width:70px; height:70px; position:absolute; top:-15px; left:15px;background-repeat:no-repeat; background-position:50% 50%; margin-right:10px;}

.svod {width:100%;margin-bottom:20px;}
.svod td {border-bottom:1px solid #fff;background-color:#e0e4e5;padding:5px 10px;color:#525354;}
.svod .rd2 td {background-color:#edf4f5}
.svod thead td {background-color:#c3c6c7;}
.svod thead td.n1 {text-transform:uppercase; font-weight:bold;}
.svod thead td.n3 {background-color:#acb1b3;}
.svod td.n2 {text-align:right}
.svod td.n3 {text-align:center;background-color:#cdd3d5;}
.svod .rd2 td.n3 {background-color:#d7dee0;}

.table_searcht {margin-bottom:20px;width:1010px;}
.table_searcht a, .table_searcht a:link, .table_searcht a:hover {color:#454748;text-decoration:none;}
.table_searcht td {border:1px solid #d2cfcf;background-color:#f9f9f9;padding:5px 10px;color:#454748; text-align:center;}
.table_searcht .firsttr td {border-top:0px;text-transform:uppercase;color: #48606f;font-weight: bold;}
.table_searcht .firsttr td a {color: #48606f;font-weight: bold;}
.table_searcht .firsttr td.n2 {text-align:center;}
.table_searcht .firsttr td.n3 {text-align:center;}
.table_searcht .firsttr td.n4 {text-align:center;}
.table_searcht .lasttr td {border-bottom:0px;}
.table_searcht td.firsttd {border-left:0px;}
.table_searcht td.lasttd {border-right:0px;}
.table_searcht .rd2 td {background-color:#ffffff}
.table_searcht td.n1 {text-align:center;}
.table_searcht td.n2 {text-align:center;width:200px;}
.table_searcht td.n3 {text-align:center;width:245px;}
.table_searcht td.n4 {text-align:center;width:170px;}
.table_searcht tfoot td {text-align:center;}
.table_searcht tfoot td a {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin:0 15px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:2px 15px; background-color:#c3c6c7; }
.table_searcht tfoot td a, .table_searcht tfoot td a:link, .table_searcht tfoot td a:hover {text-decoration:none;}
.table_searcht tfoot td a:hover {background-color:#EDF4F5;}

.table_searchm {margin-bottom:20px;width:1010px;}
.table_searchm a, .table_searchm a:link, .table_searchm a:hover {color:#454748;text-decoration:none;}
.table_searchm td {border:1px solid #d2cfcf;background-color:#f9f9f9;padding:5px 10px;color:#454748; text-align:center;}
.table_searchm .firsttr td {border-top:0px;text-transform:uppercase;color: #48606f;font-weight: bold;}
.table_searchm .firsttr td a {color: #48606f;font-weight: bold;}
.table_searchm .firsttr td.n2 {text-align:center;}
.table_searchm .firsttr td.n3 {text-align:center;}
.table_searchm .firsttr td.n4 {text-align:center;}
.table_searchm .firsttr td.n5 {text-align:center;}
.table_searchm .lasttr td {border-bottom:0px;}
.table_searchm td.firsttd {border-left:0px;}
.table_searchm td.lasttd {border-right:0px;}
.table_searchm .rd2 td {background-color:#ffffff}
.table_searchm td.n1 {text-align:center;}
.table_searchm td.n2 {text-align:center;width:80px;}
.table_searchm td.n3 {text-align:center;width:195px;}
.table_searchm td.n4 {text-align:center;width:230px;}
.table_searchm td.n5 {text-align:center;width:90px;}
.table_searchm tfoot td {text-align:center;}
.table_searchm tfoot td a {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin:0 15px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:2px 15px; background-color:#c3c6c7; }
.table_searchm tfoot td a, .table_searchm tfoot td a:link, .table_searchm tfoot td a:hover {text-decoration:none;}
.table_searchm tfoot td a:hover {background-color:#EDF4F5;}

.table_searchp {margin-bottom:20px;width:1010px;}
.table_searchp a, .table_searchp a:link, .table_searchp a:hover {color:#454748;text-decoration:none;}
.table_searchp td {border:1px solid #d2cfcf;background-color:#f9f9f9;padding:5px 10px;color:#454748; text-align:center;}
.table_searchp .firsttr td {border-top:0px;text-transform:uppercase;color: #48606f;font-weight: bold;}
.table_searchp .firsttr td a {color: #48606f;font-weight: bold;}
.table_searchp .firsttr td.n2 {text-align:center;}
.table_searchp .firsttr td.n3 {text-align:center;}
.table_searchp .firsttr td.n4 {text-align:center;}
.table_searchp .firsttr td.n5 {text-align:center;}
.table_searchp .firsttr td.n6 {text-align:center;}
.table_searchp .firsttr td.n7 {text-align:center;}
.table_searchp .lasttr td {border-bottom:0px;}
.table_searchp td.firsttd {border-left:0px;}
.table_searchp td.lasttd {border-right:0px;}
.table_searchp .rd2 td {background-color:#ffffff}
.table_searchp td.n1 {text-align:center;}
.table_searchp td.n2 {text-align:center;width:20px;}
.table_searchp td.n3 {text-align:center;width:125px;}
.table_searchp td.n4 {text-align:center;width:50px;}
.table_searchp td.n5 {text-align:center;width:60px;}
.table_searchp td.n6 {text-align:center;width:80px;}
.table_searchp td.n7 {text-align:center;width:130px;}
.table_searchp tfoot td {text-align:center;}
.table_searchp tfoot td a {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin:0 15px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:2px 15px; background-color:#c3c6c7; }
.table_searchp tfoot td a, .table_searchp tfoot td a:link, .table_searchp tfoot td a:hover {text-decoration:none;}
.table_searchp tfoot td a:hover {background-color:#EDF4F5;}

.table {width:100%;margin-bottom:20px;}
.table a, .table a:link, .table a:hover {color:#454748;}
.table td {border-bottom:1px solid #e5e6e7; background-color:#f9f9f9;
           padding:5px 10px;color:#525354;}
.table td.bold {font-weight:bold;}
.table .rd2 td {background-color:#ffffff}
.table thead td {background-color:#f9f9f9;text-transform:uppercase; font-weight:bold;color: #48606f;}
.table thead td.n5 {}
.table td.n4 {text-align:right}
.table td.n6 {text-align:left;}
.table td.n5 {font-weight:bold;}
.table .rd2 td.n5 {}
.table td.n5.green {background-color:#91b62d;color:#fff;}
.table td.n5.red{background-color:#ec7676;color:#fff;}
.table tfoot td {text-align:right;}
.table tfoot td a {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin:0 15px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:2px 15px; background-color:#c3c6c7; }
.table tfoot td a, .table tfoot td a:link, .table tfoot td a:hover {text-decoration:none;}
.table tfoot td a:hover {background-color:#d3d6d7;}

.table2 td.border_right {border-right: 1px solid #e5e6e7;}
.table2 thead td.border_right {border-right: 1px solid #d5d6d7;}
.table2 {width:100%;margin-bottom:20px;}
.table2 a, .table2 a:link {color:#6b6759;text-decoration:none;}
.table2 a:hover {color:#6b6759;text-decoration:underline;}
.table2 td {border-bottom:1px solid #e5e6e7;background-color:#f9f9f9;padding:5px 5px;color:#6b6759; text-align:center;vertical-align:middle;}
.table2 td.bold {font-weight:bold;}
.table2 .rd2 td {background-color:#ffffff}
.table2 thead td {background-color:#e6e6e6;text-transform:uppercase; border-bottom:2px solid #d5d6d7;color: #48606f;}
.table2 thead td.n2 {text-align:center;}
.table2 thead td.n3 {text-align:center;}
.tabs .table2 .n1 {width:20px;}
.table2 td.n1 {width:10px;color: #000000;}
.table2 td.n2 {text-align:left;width:170px;}
.table2 td.n3 {text-align:left;width:170px;}
.table2 tfoot .sq {margin-left:20px;}
.table_fav .last-child {width:20px;}

.oldtbl .table2 {width:100%;margin-bottom:20px;}
.oldtbl .table2 a, .oldtbl .table2 a:link,.oldtbl  .table2 a:hover {color:#525354;}
.oldtbl .table2 td {border-bottom:1px solid #fff;background-color:#e0e4e5;padding:5px 10px;color:#525354; text-align:center;vertical-align:middle;}
.oldtbl .table2 td.bold {font-weight:bold;}
.oldtbl .table2 .rd2 td {background-color:#edf4f5}
.oldtbl .table2 thead td {background-color:#c3c6c7;text-transform:uppercase; font-weight:bold;}
.oldtbl .tabs .table2 .n1 {width:20px;}
.oldtbl .table2 .n2 {text-align:center;width: 15px;}
.oldtbl .table2 .n3 {width:50px;}
.oldtbl .table2 tfoot .sq {margin-left:20px;}
.oldtbl .table_fav .last-child {width:20px;}

.table3 {width:100%;margin-bottom:20px;}
.table3 a, .table3 a:link, .table3 a:hover {color:#525354;}
.table3 td {border-bottom:1px solid #fff;background-color:#f9f9f9;padding:5px 10px;color:#525354; text-align:center;}
.table3 td.bold {font-weight:bold;}
.table3 .rd2 td {background-color:#edf4f5}
.table3 thead td {background-color:#c3c6c7;text-transform:uppercase; font-weight:bold;}
.table3 thead td.n4 {background-color:#acb1b3;}
.table3 tbody td.n3 {text-align:right}
.table3 tbody td.n5 {text-align:left;}
.table3 tbody td.n4 {background-color:#cdd3d5; font-weight:bold;}
.table3 .rd2 td.n4 {background-color:#d7dee0;}
.table3 td.n4.green {background-color:#87a873;color:#fff;}
.table3 td.n4.red{background-color:#d3804f;color:#fff;}
.table3 tfoot td {text-align:center;background:#f8fbfc;font-weight:bold;}
.table3 tfoot td.n1 {text-align:right;}
.table3 tfoot td a {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin:0 15px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; padding:2px 15px; background-color:#c3c6c7; }
.table3 tfoot td a, .table3 tfoot td a:link, .table3 tfoot td a:hover {text-decoration:none;}
.table3 tfoot td a:hover {background-color:#EDF4F5;}

.tabs { margin:10px 0;}
.tabs ul.tabNavigation , .tabs li.tabNavigation  {margin:0; padding:0; list-style:none;background-image:none;}
.tabs .tabNavigation li {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; margin-right:10px; }
.tabs .tabNavigation li a,
.tabs .tabNavigation li a:link,
.tabs .tabNavigation li a:hover {display:block; padding:5px 10px;
                                 text-decoration:none;color:#525354;
                                 text-transform:uppercase; font-weight:bold;
                                 -webkit-border-radius: 8px;
                                 -moz-border-radius: 8px;
                                  border-radius: 8px;
                                  background-color:#c3c6c7; cursor:pointer}
.tabs .tabNavigation li a.selected, .tabs .tabNavigation li a.selected:link, .tabs .tabNavigation li a.selected:hover {background-color:#fff;}
.tabs ul.tabNavigation  {margin-bottom:1em;}


.person1 {padding:15px;background-color:#f8fbfc;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;margin-bottom:15px;}
.person1 table {}
.person1 table .n1 {width:10px;}
.person1 table .n3 {text-align:left;}

.person {margin-left: -20px; margin-bottom: 15px;padding:0px;background-color:#f8fbfc;width: 1030px; height: 145px;border-bottom: 1px solid #a6a3a3;}
.person table {}
.person table .n1 {width:10px;}
.person table .n3 {text-align:left;}
.person .card .c_photo {float:left; width:144px;}
.person .card .c_photo img,
.person .card_command .c_photo img {border:1px solid #a6a3a3; float:left;}
.person .card .c_descr  {margin-left:164px;color: #48606f;}
.person .card .c_descr h5 {color:#4489a1;padding-top:10px;margin-bottom:5px;font-size: 18px; font-weight: bold;text-transform:uppercase;}

.card h5, .card_command h5 {color:#525354;margin-top:0;}
.card {margin-bottom:15px;min-height:100px;_height:100px;line-height:170%;}
.card .c_photo {float:left; width:100px;}
.card .c_descr  {margin-left:120px;color: #48606f;}
.card .c_descr h5 {color:#48606f;}
.card_command {padding:15px;background-color:#f8fbfc;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;margin-bottom:15px;min-height:146px;_height:146px;line-height:170%;}
.card_command .c_photo {float:left; width:186px;}
.card_command .c_descr {margin-left:206px;}
.card .c_photo img, .card_command .c_photo img {border:1px solid #a19e9e; float:right;}
.card_command .signs {width:20px; margin-left:10px;display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}
.card_command table {width:100%;}
.card_command th, .card_command td {padding:5px 0;}
.card_command th {text-align:left; width:150px;}
.card_command a, .card_command a:link {color:#6b6759;text-decoration:none;}
.card_command a:hover {color:#6b6759;text-decoration:underline;}

.card_command .c_photo2 {float:right; width:186px;}
.card_command .c_photo2 img {border:1px solid #a19e9e; float:left;}
.card_command .c_descr2 {margin-left:206px;margin-right:206px;text-align:center;}
.card_command .c_descr2 .count {margin-bottom:10px; font-size:30px; font-weight:bold;}
.card_command .signs  span {background-image:url(img/blur.png); position:relative;}
.card_command .signs .active  span {background-image:none;}
.card_command .c_photo h2, .card_command .c_photo2 h2 {text-align:center;margin-top:0;}
.card_command .c_photo h2 span, .card_command .c_photo2 h2 span {font-weight:normal; font-size:14px;text-transform:none;}
.card_command.prot {min-height:226px;_height:226px;}
.card_command .c_descr2 table {width:70%;margin:10px auto;}
.card_command .c_descr2 table td {border:1px solid #cdcdcd; text-align:center; background-color:#fff;}
.card_command .c_descr2 table thead td {font-weight:bold; font-size:11px;}

ul.lenta, ul.lenta li.col {margin:0; padding:0; list-style:none;background-image:none;}
ul.lenta {display:block; width:100%; text-align:center;}
ul.lenta li.col {width:49%;display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; min-height:50px;_height:50px;}
ul.lenta table {border:1px solid #a4b3c5}

/*.video {width:800px; margin:0 auto;}*/
.video {}

.video table {width:1010px;text-align:center; vertical-align:middle;background-color:#464646;}
.video td {color:#fff;font-size:11px;height:81px;}
.video table td {padding:15px;text-align:left;vertical-align:middle;position:relative;}
.video table .rd2 td, .video table .rd3 td {border-top:1px solid #6e6d6d}
.video table td.n1, .video table td.n2, .video table td.n3 {border-right:1px solid #6e6d6d; padding: 0px;width: 25%;}
.video table td.n4 {width: 25%; padding: 0px;}
.video table td.nn1 {height: 400px; /*width: 720px !important;*/border-right:0px !important; padding: 0px !important;}
.marktime {cursor: pointer;}
/*.video td.v_player, .video td.v_player img {border:0px;width:549px;vertical-align:top;}*/
.video .v_buttons.n2 {text-align:center;padding-top:120px;vertical-align:top;width:268px;padding-left: 15px;padding-right: 20px;border:0px; background-image:url(img/logo_player.png); background-repeat:no-repeat; background-position:50% 15px;/*width:25%;*/}
.video .button {margin-bottom:15px;font-size:20px; text-transform:uppercase; text-align:left;-webkit-box-shadow: #172128 0px 2px 3px;-moz-box-shadow: #172128 0px 2px 3px;box-shadow: #172128 0px 2px 3px;min-height:50px;_height:50px;}
.video .button3 {display:block; color:#fff; width:90%; margin-top: -1px;vertical-align: top;padding:10px 15px 10px 15px;font-size:20px; text-transform:uppercase; text-align:left;min-height:50px;_height:50px;border:1px solid #c9c6c6;}
.video .button3 .v_b_txt {padding-left:65px;}
.video .button3.valign .v_b_txt {margin-top:10px;}
.video .v_arr1, .video .v_arr2 {width:49px; height:49px;background-repeat:no-repeat; background-position:50% 50%;position:relative; left:0px;float:left;}
.video .v_arr1 {background-image:url(img/ico_arr1.png);}
.video .v_arr2 {background-image:url(img/ico_arr2.png);}
.video .v_sub {font-size:12px; text-transform:none;margin-top:5px;font-size:11px;}
.video .v_count {float:right; font-size:30px;padding-right: 12px;padding-top: 17px;}
.video .v_photo {float:left; padding: 5px;}
.video .v_photo, .video .v_photo img {width:70px;}
.video .v_photo img {height:auto;}
.video .ev_center {float:left;width: 110px;padding-top: 10px;}
.video .v_time, .video .v_name, .video .v_names {width:100%; clear:both;color:#fcf8f8;}
.video .v_name {font-weight:bold; font-size:12px;}
.video .v_yellow .v_name {color:#dedd4c}
.video .v_green .v_name {color:#87a873}
.video .v_blue .v_name {color:#26b9de}
.video .v_red .v_name {color:#d3804f}
.video .op1 {filter:alpha(opacity=20);opacity:0.2;position: absolute;background-position:96% 0; background-repeat:no-repeat;width:100%;margin: 5px 0px 5px 5px;height: 70px;}
.video .v_gamer {background-position:100% 0; background-repeat:no-repeat;}
.video .v_digits, .video .v_digits_text {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}
.video .v_digits_text {font-size:20px; text-transform:uppercase;margin-top:23px;margin-left:10px;}
.video .v_digits {text-transform:uppercase;font-size:24px; color:#fcf8f8;padding-left: 15px;margin-top:0px;text-align: center;}

.clear {height:1px; clear:both;}
.ok {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;width:16px; height:16px;background-image:url(img/ch.png);}
.footnote {font-size:11px; text-align:center; margin-top:15px;font-style: italic;}
.del {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;width:16px; height:16px;background-image:url(img/ico_del.png)}
.center {text-align:center;}


.sq {cursor: pointer;display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline; width:20px; height:20px; overflow:hidden;font-weight:bold; color:#fff;text-align:center;margin-bottom:5px;}
.sq span {padding-top:2px;display:block;}
.sq.blue {background-color:#67899f}
.sq.red {background-image:url(img/l1.png)}
.sq.green {background-image:url(img/w1.png)}
.sq.khaki {background-image:url(img/d1.png)}
.sq.red:hover {background-image:url(img/l_h.png)}
.sq.green:hover {background-image:url(img/w_h.png)}
.sq.khaki:hover {background-image:url(img/d_h.png)}
.sq.grey {background-color:#979797}

ul.pagination, ul.pagination li {margin:0; padding:0; list-style:none;background-image:none; text-align:center;}
ul.pagination li {display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}
.pagination a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin:0 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding:2px 10px;
    background-color:#c3c6c7;
    line-height: 18px;
}
.pagination a, .pagination a:link, .pagination a:hover {text-decoration:none;color:#525354}
.pagination a:hover {background-color:#EDF4F5;}
.pagination{margin:0 auto; width:570px}

footer {position:absolute; bottom:0; left:0; width:100%;min-height:30px;_height:30px; background-color:#67899f; text-align:right;}
footer, footer  a, footer  a:link, footer  a:hover {color:#fff;}
footer  a, footer  a:link {text-decoration:none;}
footer  a:hover {text-decoration:underline;}
footer #footer_inner {margin:10px 30px;}

UL#catalog, UL#catalog LI {margin:0; padding:0; list-style:none;background-image:none;}
UL#catalog LI {width:200px; margin-right:20px; min-height: 250px;_height: 250px;display: -moz-inline-stack; display: inline-block;vertical-align: top;zoom: 1;*display: inline;}

/* Z-layers */
header #logo  {z-index:1;}
header #login {z-index:2;}
header #search label , header #search .ico{z-index:999;}
.card_command .signs  span {z-index:3;}
nav ul ul {z-index:4;}

.gmt {cursor: pointer;}
.gmt_menu {display: none; position: absolute; z-index: 4000; height: 300px; overflow-y: scroll;}
.gmt_menu div{overflow: hidden; width: 100px; padding: 5px; text-align: center; cursor: pointer; background: #676565; border-bottom: solid 1px #000000;}
.gmt_menu div:hover{background: #ccc;}
.order {cursor: pointer;}

#video_player {width: 720px; height: 404px;}
#video_player_jwplayer_controlbar_durationText {width: 43px;}
.markvideo img {
    width: 50px;
    float: right;
    margin: 0px 5px 0px 5px;
    /*background: #ffffff;*/
}

.markinner div {
    text-align: left;
}

.markvideo a {
    color: #635e36;
    text-decoration: none;
}

.markvideo {
    height: 12px;
    width: 12px;
    margin-top: -3px;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

.mkv_0 {
    background: #afb3b7;
}
.mkv_0  a, .mkv_0  div{
    font-size: 14px !important;
    text-align: center;
    text-transform:uppercase;
}
.mkv_1 {
    background: #9f3f3b;
}
.mkv_1  .colored{
    color: #00d9da;
}
.mkv_2 {
    background: #6d4f4e;
}
.mkv_2  .colored{
    color: #082bc2;
}
.mkv_3 {
    background: #4e598c;
}
.mkv_3  .colored{
    color: #2ec208;
}
.mkv_4 {
    background: #30494a;
}
.mkv_4  .colored{
    color: #00d9da;
}

.markvideo_0 {
    background: url(img/grey.png) no-repeat;
}

.markvideo_1 {
    background: url(img/red2.png) no-repeat;
}

.markvideo_2 {
    background: url(img/ma.png) no-repeat;
}

.markvideo_3 {
    background: url(img/blue.png) no-repeat;
}

.markvideo_4 {
    background: url(img/green.png) no-repeat;
}

.markinner {
    display: none;
    position: absolute;
    width: 171px;
    top: -79px;
    border-radius: 7px;
    padding: 10px;
}

.protocol-cont {padding:15px;background-color:#f8fbfc;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;margin-bottom:15px;min-height:146px;_height:146px;line-height:170%;}
.protocol-cont ul.lenta li {width:460px;padding:0px 10px 0px 10px;}
.protocol-cont h5 {margin-top:0px;color:#1a1a1a;text-transform:none;}
.protocol-cont table.table2 {border: 1px solid #cccccc;}
.protocol-cont table.table2 td{background:#e6e6e6;border-bottom: 1px solid #cccccc;color:#1a1a1a;padding-top:3px;padding-bottom:3px;padding-left:3px;padding-right:3px;}
.protocol-cont table.table2 tr.rd2 td{background:#f4f4f4;}
.protocol-cont table.table2 td.n1 {width:0px;padding-left:0px;padding-right:0px;border-right:0px;}
.protocol-cont table.table2 td.n2 {width:auto;vertical-align:middle;text-align:left;padding-left:5px;border-right: 1px solid #cccccc;}
.protocol-cont table.table2 td.n3 {width:24px;text-align:center;border-right: 1px solid #cccccc;}
.protocol-cont table.table2 td.n4 {width:29px;text-align:center;border-right: 1px solid #cccccc;}
.protocol-cont table.table2 td.n5 {width:29px;text-align:center;}

.req{color:red}
input.error{background-color:#F2DEDE}
input.date{width:8%}
input.datetime{width:14%}
input.title{width:35%}
input.description{width:75%}
input.number{width:7%}
td.center, th.center{text-align:center}
h3{margin:0 0 0 0}
.table{margin-bottom:3em}
#content .span5.block{height:390px}
.ico_tree{background:url(img/tree90x80.png) no-repeat}
.ico_index{background:url(img/recreate_index.png) no-repeat}
#tree{font-size:120%; margin-top:2em}
#tree .item{display:block; height:2.2em; margin-bottom:.1em; cursor:pointer}
#tree .item.selected{color:red}
#tree .edit{display:none}
#tree form{display:inline;}
#tree .edit{margin-left:1em; display:none;}
#tree .show_edit{opacity:.2; cursor:pointer}
#tree .title form input{margin:0; vertical-align:top;}

.block .table{max-height:350px; overflow:auto; margin-top: 1em}
.block .tool.btn{margin:0 0 1em 0}
.block .tool{overflow:hidden;}
.block .btn{margin-left:.7em}

.help-inline{opacity:.5}

.table th{text-align:center}
.table.centered td{text-align:center}
.table.left th{text-align:left}

.item .close{position:absolute; bottom:5px; right:5px}

#marks{overflow:hidden; background-color:#464646; border-top:1px solid #6E6D6D;}
#marks .item{width:241px; height:72px; float:left; padding:5px;
             position:relative; border:1px solid #6E6D6D; border-left:0;
             border-top:0; cursor:pointer}
#marks .item:hover{background-color:#2a2a2a}
#marks .item .period, #marks .item .score{text-transform:uppercase;
                                          font-size:24px; color:#FCF8F8;}
#marks .item .period{padding-left:15px; margin-top:30px}
#marks .item .logo{width:70px; height:70px; opacity:.4; position:absolute;
                   top:7px; right:3px; background-repeat:no-repeat; z-index:0}
#marks .item .score{position:absolute; top:30px; right:23px; z-index:10;
                    font-size:26px;}
#marks .item .info{position:absolute; top:10px; left:80px; z-index:10;
                   color:#fff; width:115px; line-height:1.3em}
#marks .item .penalty, #marks .item .goal{font-weight:bold}
#marks .item .penalty{color:#D3804F}
#marks .item .goal{color:#26B9DE}

.vjs-controls .marker{position:absolute; top:-31px; width:16px; height:26px;
                      background-repeat:no-repeat; background-position:center}
.vjs-controls .marker.primary{background-image:url(/img/marker_blue.png)}
.vjs-controls .marker.warning{background-image:url(/img/marker_orange.png)}
.vjs-controls .marker.inverse{background-image:url(/img/marker_gray.png)}
.vjs-controls .popup{display:none; position:absolute; width:70px; height:140px;
                     top:-141px; left:-33px; text-align:left; padding:5px;
                     z-index:110}
.vjs-controls .popup .score{display:none}
.vjs-controls .popup .period{font-size:20px; text-align:center; line-height:2em}
.above{z-index:100}
#markers{margin-left:-8px; position:relative;}
.button3{cursor:pointer}

#login form{margin:2px 0 0 0}
#login label{display:inline; font-size:11px; vertical-align:inherit;}
#login input{margin-bottom:0; line-height:normal; height:auto}
header #login a{text-decoration:underline}

#recover{margin-left:1em}

.form-actions{background:none}

.dataTables_filter{float:right}
.dataTables_wrapper{position:relative;}
.dataTables_length{position:absolute; top:0; left:0; width:300px}
.dataTables_length select{display:inline; width:50px}
.dataTables_filter input{display:inline; width:150px}
#games_info{display:none}
#games{opacity:.9}
#games_length select{width:60px}
td.date, td.match_no{cursor:pointer}

.promo_label{background-image:url(/img/promo.png); position:absolute; top:81px;
             left:125px; width:50px; height:30px; background-position:center}
.promo_label a{display:block; text-align:right; color:#fff; width:50px;
               height:30px; cursor:pointer}
.card_command h2{line-height:.7em; margin-bottom:.5em}
.card_command h2 small{font-size:60%}
.card_command{opacity:.9}

.player_extended a{text-decoration:none; color:#48606F}
.player_extended strong{text-transform:uppercase; line-height:2em}
.player_extended img{float:left; margin-right:1em}

#seasons{position:absolute; top:3px; left:300px; z-index:100;}
.person1 slect.seasons{position: relative; left:auto; top: auto}
td.left{text-align:left}
.dataTables_processing{text-align: center}