<h1><?= $this->title($this->translate('Протокол матча')
                    .sprintf(' %s %s %s, %s',
                             $this->translate($this->game->team_one()->title),
                             $this->game->game_score,
                             $this->translate($this->game->team_two()->title),
                             $this->game->datetime())) ?></h1>
<?=     $this->partial('_side_panel.phtml', array('set'=>'game',
                                                  'game'=>$this->game)) ?>

<div id="content">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div class="card_command prot">
        <?= $this->partial('_team_face.phtml',
                            array('team'=>$this->game->team_one(),
                                  'show_title'=>true)) ?>
        <?= $this->partial('_team_face.phtml',
                            array('team'=>$this->game->team_two(),
                                  'show_title'=>true, 'right'=>true)) ?>
        <div class="c_descr2">
            <div class="count"><?= $this->game->game_score ?></div>

            <? if (isset($this->game->arena_title)): ?>
            <?= $this->translate($this->game->arena_title) ?><br>
            <? endif ?>
            <?= $this->game->datetime('d MMMM Y') ?>
            <?= $this->game->datetime('HH:mm') ?>
            <br>
            <?= $this->translate($this->game->category()->parent()->title) ?>,
            <?= $this->translate($this->game->category()->title) ?>
            <br>
            <?= $this->translate('Матч №') ?>
            <?= $this->game->number ?>
            <? if ($this->game->marks()): ?>
            <?= $this->partial('_score_overview.phtml',
                                array('game'=>$this->game))?>
            <? endif ?>
        </div>
    </div><!-- //card_command -->

    <div class="protocol-cont">
        <h5 class="center"><?= $this->translate('Голы') ?></h5>
        <ul class="lenta">
            <li class="col first-child">
                <?= $this->partial('_goal_marks.phtml',
                                    array('marks'=>$this->game->marks(),
                                          'type'=>3,
                                          'team_id'=>$this->game->team_one()->id)) ?>
            </li>
            <li class="col last-child">
                <?= $this->partial('_goal_marks.phtml',
                                    array('marks'=>$this->game->marks(),
                                          'type'=>3,
                                          'team_id'=>$this->game->team_two()->id)) ?>

            </li>
        </ul>
        <h5 class="center"><?= $this->translate('Удаления') ?></h5>
        <ul class="lenta">
            <li class="col first-child">
                <?= $this->partial('_goal_marks.phtml',
                                    array('marks'=>$this->game->marks(),
                                          'type'=>1,
                                          'team_id'=>$this->game->team_one()->id)) ?>

            </li>
            <li class="col last-child">
                <?= $this->partial('_goal_marks.phtml',
                                    array('marks'=>$this->game->marks(),
                                          'type'=>1,
                                          'team_id'=>$this->game->team_two()->id)) ?>

            </li>
        </ul></div>

</div>