<h1><?= $this->title($this->translate('Составы команд матча')
        .sprintf(' %s %s %s, %s',
            $this->translate($this->game->team_one()->title),
            $this->game->game_score,
            $this->translate($this->game->team_two()->title),
            $this->game->datetime())) ?></h1>
<?=     $this->partial('_side_panel.phtml', array('set'=>'game',
                                                  'game'=>$this->game)) ?>

<div id="content">

    <div class="card_command prot">
        <?= $this->partial('_team_face.phtml',
        array('team'=>$this->game->team_one(),
              'show_title'=>true)) ?>
        <?= $this->partial('_team_face.phtml',
        array('team'=>$this->game->team_two(),
              'show_title'=>true, 'right'=>true)) ?>
        <div class="c_descr2">
            <div class="count"><?= $this->game->game_score ?></div>

            <?= $this->translate($this->game->arena_title) ?><br>
            <?= $this->game->datetime() ?>
            <?= $this->game->datetime('HH:mm') ?>
            <br>
            <?= $this->translate('Матч №') ?>
            <?= $this->game->number ?>
            <? if ($this->game->marks()): ?>
            <?= $this->partial('_score_overview.phtml',
                                array('game'=>$this->game))?>
            <? endif ?>
        </div>
    </div><!-- //card_command -->

    <span class="oldtbl">
			<ul class="lenta">
                <li class="col first-child">
                    <?= $this->partial('_lineup_table.phtml',
                                        array('game'=>$this->game,
                                              'team'=>$this->game->team_one())) ?>
                </li>

                <li class="col last-child">
                    <?= $this->partial('_lineup_table.phtml',
                                        array('game'=>$this->game,
                                              'team'=>$this->game->team_two())) ?>
                </li>

            </ul>
    </span>
</div>