<h1><?= $this->title($this->translate('Видео матча')
        .sprintf(' %s %s %s, %s',
            $this->translate($this->game->team_one()->title),
            $this->game->game_score,
            $this->translate($this->game->team_two()->title),
            $this->game->datetime())) ?></h1>
<?=     $this->partial('_side_panel.phtml', array('set'=>'game',
                                                  'game'=>$this->game)) ?>

<div id="content">

    <div class="card_command prot">
        <?= $this->partial('_team_face.phtml',
                            array('team'=>$this->game->team_one(),
                                  'show_title'=>true)) ?>
        <?= $this->partial('_team_face.phtml',
                            array('team'=>$this->game->team_two(),
                                  'show_title'=>true, 'right'=>true)) ?>
        <div class="c_descr2">
            <div class="count"><?= $this->game->game_score ?></div>

            <?= $this->translate($this->game->arena_title) ?><br>
            <?= $this->game->datetime() ?>
            <?= $this->game->datetime('HH:mm') ?>
            <br>
            <?= $this->translate('Матч №') ?>
            <?= $this->game->number ?>
            <? if ($this->game->marks()): ?>
            <?= $this->partial('_score_overview.phtml',
                                array('game'=>$this->game))?>
            <? endif ?>
        </div>
    </div><!-- //card_command -->

    <div class="video">
        <table>
            <tbody><tr>
                <td colspan="3" class="v_player nn1 n1">
                    <video id="main_video" class="video-js vjs-default-skin" controls
                           preload width="720" height="400"
                           data-setup='{"controls": true, "autoplay": false, "preload": "auto" }'>
                        <source src="<?= $this->url(array('controller'=>'game',
                                                          'action'=>'stream',
                                                          'format'=>'mp4',
                                                          'uid'=>$this->user->id)) ?>"
                                type='video/mp4'>
                        <? if ($this->game->has_webm_copy()): ?>
                        <source src="<?= $this->url(array('controller'=>'game',
                                                          'action'=>'stream',
                                                          'format'=>'webm',
                                                          'uid'=>$this->user->id)) ?>"
                                type='video/webm'>
                        <? endif ?>
                    </video>
                </td>
                <td class="v_buttons n2">

                    <a class="button3 valign" onclick="play_from(this)"
                       data-seconds="0">
                        <div class="v_arr1"></div>
                        <div class="v_b_txt">
                            <?= $this->translate('Смотреть') ?>									<div class="v_sub" style="color:#F5A62B">
                            Временно видео-проигрыватель работает только в Chrome!<br>Sorry, the video player is only available in Chrome for now!
                        </div>
                        </div>
                    </a>

                    <a class="button3 " id="but_download"
                       href="<?= $this->url(array('controller'=>'game',
                                                  'action'=>'download')) ?>">
                        <div class="v_arr2"></div>
                        <div class="v_b_txt">
                            <?= $this->translate('Скачать') ?>
                            <div class="v_sub">10 Mb/s ~ 30 min</div>
                        </div>
                    </a>

                    <!--<div class="button valign">
                                     <div class="v_arr1"></div>
                                     <div  class="v_b_txt">Промо</div>
                                 </div>-->
                </td>
            </tr>
            </tbody></table>
        <div id="marks">
            <? foreach ($this->game->marks() as $mark): ?>
            <div id="mk<?= $mark->seconds() ?>" class="item" data-type="<?= $mark->type ?>"
                 data-seconds="<?= $mark->seconds() ?>"
                 onclick="play_from(this)">
                <? if ($mark->type == 0): ?>
                <div class="period">
                    <?= $this->translate($mark->title) ?>
                </div>
                <? else: ?>
                <img width="70"
                     src="/img/player_pic/p144_<?= $mark->row->player_photo ?>"
                     alt="">
                <div class="info">
                    <?= $mark->datetime('mm:ss', 'time_protocol', 'HH:mm:ss') ?><br>
                    <span class="
                    <? if ($mark->type==1): ?>penalty<? else: ?>goal<? endif ?>
                    ">
                    <?= $mark->row->player_number ?>.
                    <? if ($mark->row->player_name): ?>
                    <?= $this->translate($mark->row->player_name) ?>
                    <? endif ?>
                    </span><br>
                    <? if ($mark->type==1): ?>
                    <?= $this->translate('Штраф') ?>
                    <?= $mark->title ?>
                    <?= $this->translate('мин') ?>
                    <? else: ?>
                    <?= $this->translate('Гол') ?>
                    <?= $mark->title ?>
                    <? endif ?>
                </div>
                <div class="logo"
                     style="background-image:url(/img/team_pic/p67_<?= $mark->row->team_logo ?>)">
                </div>
                <? if ($mark->type==3): ?>
                <div class="score">
                    <?= $mark->title ?>
                </div>
                <? endif ?>
                <? endif; ?>
            </div>
            <? endforeach ?>
        </div>
    </div>

</div>