<li class="ico_fav rd3">
    <a href="<?= $this->url(array('controller'=>'user',
                                  'action'=>'add-favourite',
                                  'type'=>$this->type))  ?>">
        <?= $this->translate('Добавить в избранное') ?>
    </a>
</li>