<table class="table2">
    <tbody>
    <? foreach ($this->marks as $mark): ?>
        <? if ($mark->type == $this->type &&
               $mark->row->team_id==$this->team_id): ?>
        <tr>
            <? if ($mark->player_id): ?>
            <td class="n1 border_right">
                <img width="31"
                     src="/img/player_pic/p144_<?= $mark->row->player_photo ?>"
                     alt="">
            </td>
            <td>
                <?= $mark->row->player_number ?>
            </td>
            <td class="n2 border_right">
                <strong>
                    <?= $this->translate($mark->row->player_name) ?>
                </strong>
            </td>
            <? else: ?>
            <? $pieces = explode('. ', $mark->description_line1) ?>
            <td></td>
            <td><?= $pieces[0] ?></td>
            <td class="n2 border_right">
                <strong>
                    <?= $this->translate($pieces[1]) ?>
                </strong>
            </td>
            <? endif ?>
            <? if ($this->type == 3): ?>
            <td class="n3 border_right">
                <img src="/img/ico_sh2.png" alt="">
            </td>
            <td class="n4 border_right">
                <?= $this->translate($mark->title) ?>
            </td>
            <? elseif ($this->type == 1): ?>
            <td class="n4 border_right">
                2
            </td>
            <? endif ?>
            <td class="n5"><?= $mark->time_protocol ?></td>
        </tr>
            <? endif ?>
        <? endforeach ?>
    </tbody>
</table>