<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <td style="width:5%"><?= $this->translate('№') ?></td>
        <td style="width:5%"><?= $this->translate('Поз') ?></td>
        <td style="width:5%"><?= $this->translate('Нац') ?></td>
        <td class=""><?= $this->translate('Игрок') ?></td>
    </tr>
    </thead>
    <tbody>
    <? foreach ($this->game->fetch_players($this->team->id) as $player): ?>
    <tr>
        <td class="center">
            <?= $player->row->player_number ?>
        </td>
        <td class="center"
            title="<?= $this->translate($player->row->line_title) ?>">
            <strong>
                <?= $this->translate(mb_substr($player->row->line_title, 0, 1, 'utf-8')) ?>
            </strong>
        </td>
        <td class="center"
            title="<?= $this->translate($player->row->country_title) ?>">
            <img width="21"
                 src="/img/countries/<?= $player->row->country_image_file  ?>">
        </td>
        <td class="">
            <a href="<?= $this->url(array('controller'=>'player',
                                          'action'=>'index',
                                          'team_id'=>$this->team->id,
                                          'id'=>$player->id)) ?>">
                <?= $this->translate($player->name) ?>
            </a>
        </td>
    </tr>
        <? endforeach ?>
    </tbody>
</table>