<?
$nav = array(
    'home'=> array(
        'title'=> 'Главная',
        'params'=> array('controller'=>'index',
                         'action'=>'index')
    ),
    'international'=> array(
        'title'=> 'Международные турниры',
        'params'=> array('controller'=>'country',
                         'action'=>'index',
                         'id'=>128)
    ),
    'youth'=> array(
        'title'=> 'Молодежные турниры',
        'params'=> array('controller'=>'country',
                         'action'=>'index',
                         'id'=>129)
    ),
    'friendly'=> array(
        'title'=> 'Товарищеские матчи',
        'params'=> array('controller'=>'country',
                         'action'=>'index',
                         'id'=>130)
    ),
    'trial'=> array(
        'title'=> 'Тестовый доступ',
        'params'=> array('controller'=>'user',
                         'action'=>'register')
    ),
    'pricing'=>array(
        'title'=>'цены',
        'params'=> array('controller'=>'page',
                         'action'=>'index',
                         'slug'=> 'prices')
    ),
    'contacts'=>array(
        'title'=>'Контакты',
        'params'=> array('controller'=>'page',
                         'action'=>'index',
                         'slug'=>'contact')
    ),
    'favourites'=>array(
        'title'=>'Избранное',
        'params'=> array('controller'=>'user',
                         'action'=>'favourites')
    )
);
$user_status = $this->user ? $this->user->get_status() : 'guest';
?>

<nav>
    <div class="sf-menucont">
        <ul class="sf-menu">
            <? foreach($nav as $item): ?>
            <? if ($this->acl->isAllowed(
                       $user_status, $item['params']['controller'],
                                     $item['params']['action'])): ?>
            <li
                <? if ($this->url() == $this->url($item['params'],
                                                  'default', true)): ?>
                class="active"
                <? endif ?>
            >
                <div>
                      <a href="<?= $this->url($item['params'],
                                              'default', true) ?>">
                    <span>
                       <?= $this->translate($item['title']) ?>
                    </span>
                </a>
                </div>
            </li>
            <? endif ?>
            <? endforeach ?>
        </ul>
    </div>
</nav>