<table class="table table-striped">
    <thead>
    <tr>
        <th>1 <?= $this->translate('период') ?></th>
        <th>2 <?= $this->translate('период') ?></th>
        <th>3 <?= $this->translate('период') ?></th>
        <? if ($this->game->has_overtime() or
        $this->game->has_bullets()): ?>
        <th title="<?= $this->translate('Овертайм') ?>">
            <?= $this->translate('ОТ') ?>
        </th>
        <? endif ?>
        <? if ($this->game->has_bullets()): ?>
        <th>
            <?= $this->translate('П') ?>
        </th>
        <? endif ?>
    </tr>
    </thead>
    <tbody>
    <? $goals = $this->game->goals() ?>
    <tr>
        <td><?= $goals[1][1] ?></td>
        <td><?= $goals[1][2] ?></td>
        <td><?= $goals[1][3] ?></td>
        <? if ($this->game->has_overtime() or
        $this->game->has_bullets()): ?>
        <td><?= $goals[1][4] ?></td>
        <? endif ?>
        <? if ($this->game->has_bullets()): ?>
        <td><?= $goals[1][5] ?></td>
        <? endif ?>
    </tr>
    <tr>
        <td><?= $goals[2][1] ?></td>
        <td><?= $goals[2][2] ?></td>
        <td><?= $goals[2][3] ?></td>
        <? if ($this->game->has_overtime() or
        $this->game->has_bullets()): ?>
        <td><?= $goals[2][4] ?></td>
        <? endif ?>
        <? if ($this->game->has_bullets()): ?>
        <td><?= $goals[2][5] ?></td>
        <? endif ?>
    </tr>
    </tbody>
</table>