<aside>
    <ul>
        <li class="ico_home  first-child">
            <a href="<?= $this->url(array('controller'=> 'index',
                                          'action'=> 'index'), null, true) ?>">
                <?= $this->translate('Главная') ?>
            </a>
        </li>
        <? if ($this->set == 'team'): ?>
        <li class="ico_stat">
            <a href="<?= $this->url(array('controller'=>'team',
                                          'action'=>'index',
                                          'id'=>$this->team->id), null, true) ?>">
                <?= $this->translate('Календарь') ?>
            </a>
        </li>
        <li class="ico_lineups">
            <a href="<?= $this->url(array('controller'=>'team',
                                          'action'=>'roster',
                                          'team_id'=>$this->team->id), null, true) ?>">
                <?= $this->translate('Состав') ?>
            </a>
        </li>
        <li class="ico_film">
            <a href="<?= $this->url(array('controller'=>'team',
                                          'action'=>'videos',
                                          'id'=>$this->team->id), null, true) ?>">
                <?= $this->translate('Видео') ?>
            </a>
        </li>
        <? endif ?>
        <? if ($this->set == 'league'): ?>
        <li class="ico_stat">
            <a href="<?= $this->url(array('controller'=> 'league',
                                          'action'=> 'index',
                                          'id'=>$this->league->id), null, true) ?>">
                <?= $this->translate('Команды') ?>
            </a>
        </li>
        <li class="ico_stat">
            <a href="<?= $this->url(array('controller'=> 'league',
                                          'action'=> 'games',
                                          'id'=>$this->league->id), null, true) ?>">
                <?= $this->translate('Календарь') ?>
            </a>
        </li>
        <li class="ico_stat1">
            <a href="<?= $this->url(array('controller'=> 'league',
                                          'action'=> 'stats',
                                          'id'=>$this->league->id), null, true) ?>">
                <?= $this->translate('Статистика') ?>
            </a>
        </li>
<!--        <li class="ico_film">-->
<!--            <a href="--><?//= $this->url(array('controller'=>'league',
//                                          'action'=>'videos',
//                                          'id'=>$this->league->id), null, true) ?><!--">-->
<!--                --><?//= $this->translate('Видео') ?>
<!--            </a>-->
<!--        </li>-->
        <? endif ?>
        <? if ($this->set == 'game'): ?>
        <li class="ico_games">
            <a href="<?= $this->url(array('controller'=>'game',
                                          'action'=>'index',
                                          'id'=>$this->game->id), null, true) ?>">
                <?= $this->translate('Протокол') ?>
            </a>
        </li>
        <li class="ico_lineups">
            <a href="<?= $this->url(array('controller'=>'game',
                                          'action'=>'lineups',
                                          'id'=>$this->game->id), null, true) ?>">
                <?= $this->translate('Составы') ?>
            </a>
        </li>
        <li class="ico_film">
            <a href="<?= $this->url(array('controller'=>'game',
                                          'action'=>'video',
                                          'id'=>$this->game->id), null, true) ?>">
                <?= $this->translate('Видео') ?>
            </a>
        </li>
        <? endif ?>
        <? if ($this->set == 'player'): ?>
        <li class="ico_games">
            <a href="<?= $this->url(array('controller'=>'player',
                                          'action'=>'index',
                                          'id'=>$this->player->id), null, true) ?>">
                <?= $this->translate('Матчи') ?>
            </a>
        </li>
        <li class="ico_film">
            <a href="<?= $this->url(array('controller'=>'player',
                                          'action'=>'video',
                                          'id'=>$this->player->id), null, true) ?>">
                <?= $this->translate('Видео') ?>
            </a>
        </li>
        <?= $this->partial('_fav_button.phtml', array('type'=>1)) ?>
        <? endif ?>
        <? if ($this->set == 'team'): ?>
        <?= $this->partial('_fav_button.phtml', array('type'=>2)) ?>
        <? endif ?>
        <? if ($this->set == 'game'): ?>
        <?= $this->partial('_fav_button.phtml', array('type'=>3)) ?>
        <? endif ?>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>