<div class="c_descr">
    <table>
        <tbody>
        <? if ($this->team->type == 'k'): ?>
        <tr>
            <th><?= $this->translate('Год основания') ?></th>
            <td class="n2">
                <?= $this->team->datetime(Zend_Date::YEAR) ?>
            </td>
            <th><?= $this->translate('Главный тренер') ?></th>
            <td class="n4">
                <?= $this->translate($this->team->coach_name) ?>
            </td>
        </tr>
        <tr class="rd2">
            <th><?= $this->translate('Страна') ?></th>
            <td class="n2">
                <img width="21"
                     src="/img/countries/<?= $this->team->row->country_image_file ?>"
                     alt="">
                <?= $this->translate($this->team->row->country_title) ?>
            </td>
            <th>E-mail</th>
            <td class="n4">
                <a href="mailto:<?= $this->team->email ?>"
                   target="_blank">
                    <?= $this->team->email ?>
                </a></td>
        </tr>
        <tr>
            <th><?= $this->translate('Город') ?></th>
            <td class="n2"><?= $this->team->city ?></td>
            <th><?= $this->translate('Официальный сайт') ?></th>
            <td class="n4">
                <a target="_blank" href="<?= $this->team->website_url ?>">
                    <?= $this->team->website_url ?>
                </a>
            </td>
        </tr>
        <tr class="rd2">
            <th><?= $this->translate('Арена') ?></th>
            <td class="n2">
                <?= $this->translate($this->team->arena_title) ?>
            </td>
            <th></th>
            <td class="n4"></td>
        </tr>
        <tr>
            <th><?= $this->translate('Вместимость') ?></th>
            <td class="n2"><?= $this->team->arena_capacity ?></td>
            <th></th>
            <td class="n4"></td>
        </tr>
        <? else: ?>
        <tr>
            <th><?= $this->translate('Главный тренер') ?></th>
            <td class="n4">
                <?= $this->translate($this->team->coach_name) ?>
            </td>
        </tr>
        <tr>
            <th><?= $this->translate('Сайт федерации') ?></th>
            <td class="n4">
                <a target="_blank" href="<?= $this->team->website_url ?>">
                    <?= $this->team->website_url ?>
                </a>
            </td>
        </tr>
            <? if ($this->team->iihf_rating): ?>
        <tr>
            <th><?= $this->translate('Рейтинг IIHF') ?></th>
            <td class="n4">
                    <?= $this->team->iihf_rating ?>
            </td>
        </tr>
            <? endif ?>
        <? endif ?>
        </tbody>
    </table>
</div>