<? $games = $this->games ? $this->games : $this->team->fetch_games(null, 6) ?>
<div class="c_photo<? if ($this->right): ?>2<? endif ?>">
    <? if ($this->show_title): ?>
    <h2>
        <?= $this->translate($this->team->title) ?>
        <? if ($this->team->city): ?>
        <br><small>(<?= $this->translate($this->team->city)?>)</small>
        <? endif ?>
    </h2>
    <? endif ?>
    <a href="<?= $this->url(array('controller'=>'team',
                                  'action'=>'index',
                                  'id'=>$this->team->id)) ?>">
    <img src="/img/team_pic/p146_<?= $this->team->logo ?>"
         alt="">
    </a>
    <div class="signs">
        <? foreach (array_slice($games, 0, 6) as $game): ?>
        <a href="<?= $this->url(array('controller'=>'game',
                                      'action'=>'index',
                                      'id'=>$game->id)) ?>">
            <? if ($game->winner()): ?>
            <? if ($game->winner()->id == $this->team->id): ?>
                    <div class="sq green"
                        <? else: ?>
                    <div class="sq red"
                        <? endif ?>
            <? else: ?>
            <div class="sq yellow"
            <? endif ?>
                 title="<?= $game->datetime() ?>, <?= $this->translate($game->team_one()->title) ?> - <?= $this->translate($game->team_two()->title) ?>, <?= $game->game_score ?>">
        </div>
        </a>
        <? endforeach ?>
    </div>
</div>