<video id="main_video" class="video-js vjs-default-skin" controls
       preload width="<?= $this->width ?>" height="<?= $this->height ?>"
       data-setup='{"controls": true, "autoplay": false, "preload": "auto" }'>
    <source src="<?= $this->src ?>" type="video/mp4">
    <? if ($this->src_webm): ?>
    <source src="<?= $this->src_webm ?>" type="video/webm">
    <? endif ?>
</video>