<div class="person">
    <div class="card">
        <div class="c_photo">
            <img height="144" src="/img/player_pic/p144_<?= $this->player->photo ?>"
                 alt="">
        </div>
        <div class="c_descr">
            <h5><?= $this->translate($this->team->title) ?></h5>
            <b><?= $this->translate($this->player->row->line_title) ?></b><br>
            <?= $this->player->datetime() ?> (<?= $this->player->age() ?>)<br>
            <?= $this->player->weight ?> <?= $this->translate('кг') ?><br>
            <?= $this->translate($this->player->get_hand_title()) ?>
            <br>
            <?= $this->translate($this->player->row->country_title) ?>
            <img height="21" src="/img/countries/<?= $this->player->row->country_image_file ?>" alt="">
        </div>
    </div>
</div>