<? if ($this->team): ?>
<h1 class="pad">
    <span class="gerb"
          style="background-image:
          url(/img/team_pic/p70_<?= $this->team->logo ?>)">
    </span>
    <?= $this->title($this->translate($this->player->name)) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'player',
                                              'player'=>$this->player,
                                              'team'=>$this->team)) ?>
<div id="content">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <?= $this->partial('player/_player_card.phtml',
                        array('player'=>$this->player, 'team'=>$this->team)) ?>
        <table id="games" class="table">
            <thead>
            <tr>
                <td class="date"><?= $this->translate('ДАТА') ?></td>
                <td class="match_no"><?= $this->translate('Матч') ?> #</td>
                <td class="n3"><?= $this->translate('Соревнование') ?></td>
                <td class="n4"> </td>
                <td class="n5"><?= $this->translate('Матчи') ?></td>
                <td class="n6"> </td>
                <? if (in_array($this->player->line_id, array(1, 2))): ?>
                <td title="<?= $this->translate('Заброшенные шайбы') ?>" el="p" order="value_30__i" class="order n7">
                    <?= $this->translate('Ш') ?>
                </td>
                <td title="<?= $this->translate('Штрафное время') ?>" el="p" order="value_34__i" class="order n8">
                    <?= $this->translate('Штр') ?>
                </td>
                <td title="<?= $this->translate('Броски по воротам') ?>" el="p" order="value_41__i" class="order n9">
                    <?= $this->translate('БВ') ?>
                </td>
                <? else: ?>
                <td title="<?= $this->translate('Пропущенные шайбы') ?>" el="p" order="value_20__i" class="order n7">
                    <?= $this->translate('ПШ') ?>
                </td><td title="<?= $this->translate('Отраженные броски') ?>" el="p" order="value_21__i" class="order n8">
                <?= $this->translate('ОБ') ?>
                </td>
                <? endif ?>
                <td title="<?= $this->translate('Время на площадке') ?>" el="p"
                    order="value_28__t" class="order n9">
                <?= $this->translate('ВП') ?>
            </td>
                <td class="center"><?= $this->translate('Видео') ?></td>
                <td class="center">HD</td>
            </tr>
            </thead>
            <tbody>
            <? foreach ($this->games as $game): ?>
            <tr>
                <td class="n1"><?= $game->datetime() ?></td>
                <td class="n2"><?= $game->number ?></td>
                <td class="n3">
                    <? if (method_exists($game, 'category')): ?>
                    <? $parents = $game->category()->parents(true, 2) ?>
                    <? foreach ($parents as $parent): ?>
                    <?= $this->translate($parent) ?>
                    <? endforeach ?>
                    <? else: ?>
                    <?= $game->category_title ?>
                    <? endif ?>
                </td>
                <td class="n4
                <? if ($game->team_one()->id == $game->get_team($this->player->id)->id): ?>
                bold
                <? endif ?>
                ">
                    <?= $this->translate($game->team_one()->title) ?>
                </td>
                <? if ($game->winner()): ?>
                <? if ($game->winner()->id == $game->get_team($this->player->id)->id): ?>
                    <td class="n5 green center">
                        <a href="<?= $this->url(array('controller'=>'game',
                                                      'action'=>'index',
                                                      'id'=>$game->id)) ?>">
                            <?= $game->game_score ?>
                        </a>
                    </td>
                    <? else: ?>
                    <td class="n5 red center">
                        <a href="<?= $this->url(array('controller'=>'game',
                                                      'action'=>'index',
                                                      'id'=>$game->id)) ?>">
                            <?= $game->game_score ?>
                        </a>
                    </td>
                    <? endif ?>
                <? else: ?>
                <td class="n5 center">
                    <a href="<?= $this->url(array('controller'=>'game',
                                                  'action'=>'index',
                                                  'id'=>$game->id)) ?>">
                        <?= $game->game_score ?>
                    </a>
                </td>
                <? endif ?>
                <td class="n6
                <? if ($game->team_two()->id == $game->get_team($this->player->id)->id): ?>
                bold
                <? endif ?>
                ">
                    <?= $this->translate($game->team_two()->title) ?>
                </td>
                <? if (in_array($this->player->line_id, array(1, 2))): ?>
                <td class="n7"><?= $game->row->goals_authored ?></td>
                <td class="n8"><?= $game->row->penalty_time ?></td>
                <td class="n8"><?= $game->row->attempts ?></td>
                <? else: ?>
                <td class="n7"><?= $game->row->score_missed ?></td>
                <td class="n8"><?= $game->row->saves ?></td>
                <? endif; ?>
                <td class="n9"><?= $game->row->field_time ?></td>
                <td class="center">
                    <? if ($game->video_path): ?>
                    <div class="ok"></div>
                    <? endif ?>
                </td>
                <td class="center">
                    <? if ($game->video_hd): ?>
                    <div class="ok"></div>
                    <? endif ?>
                </td>
            </tr>
            <? endforeach ?>
            </tbody><tfoot>
        <tr>
            <td colspan="12" class="n1"><a style="padding: 0px;height: 0px;"></a><a style="padding: 0px;height: 0px;"></a></td>
        </tr>
        </tfoot>


        </table>
    </div>
<? endif ?>
<script type="text/javascript">
    var table_lang = {
        "sLengthMenu": "<?= $this->translate('выводить по _MENU_рядов на страницу') ?>",
        "sZeroRecords": "<?= $this->translate('Ничего не найдено') ?> :(",
        "sProcessing": "<?= $this->translate('обработка') ?>...",
        "sSearch": "<?= $this->translate('Поиск') ?>:",
        "sFirst": "<?= $this->translate('первая') ?>",
        "sPrevious": "<?= $this->translate('Предыдущая') ?>",
        "sNext": "<?= $this->translate('Следующая') ?>",
        "sLast": "<?= $this->translate('последняя') ?>"
    }
</script>