<h1 class="pad">
    <span class="gerb"
          style="background-image:
          url(/img/team_pic/p70_<?= $this->team->logo ?>)">
    </span>
    <?= $this->title($this->translate($this->player->name)) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'player',
                                              'player'=>$this->player,
                                              'team'=>$this->team)) ?>
<div id="content">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <?= $this->partial('player/_player_card.phtml',
                        array('player'=>$this->player, 'team'=>$this->team)) ?>
        <table class="table">
            <thead>
            <tr>
                <td class="n1 center"><?= $this->translate('ДАТА') ?>																				</td>
                <td class="n2 center"><?= $this->translate('Матч №') ?></td>
                <td class="n3"><?= $this->translate('Лига') ?></td>
                <td class="n4"> </td>
                <td class="n5 center"><?= $this->translate('Матчи') ?></td>
                <td class="n6"> </td>
                <td class="n8 center">HD</td>
                <td class="n7 center"><?= $this->translate('Дата загрузки') ?></td>
            </tr>
            </thead>
            <tbody>
            <? foreach ($this->games as $game): ?>
            <tr>
                <td class="n1 center"><?= $game->datetime() ?></td>
                <td class="n2 center    "><?= $game->number ?></td>
                <td class="n3">
                    <?= $this->translate($game->category()->title) ?>
                </td>
                <td class="n4">
                    <? if ($game->team_one()->id == $game->get_team($this->player->id)->id): ?>
                    <strong>
                        <?= $this->translate($game->team_one()->title) ?>
                    </strong>
                    <? else: ?>
                    <a href="<?= $this->url(array('controller'=>'team',
                                                  'action'=>'index',
                                                  'id'=>$game->team_one()->id)) ?>">
                        <?= $this->translate($game->team_one()->title) ?>
                    </a>
                    <? endif ?>
                </td>
                <? if ($game->winner()): ?>
                <? if ($game->winner()->id == $game->get_team($this->player->id)->id): ?>
                    <td class="n5 green center">
                        <a href="<?= $this->url(array('controller'=>'game',
                                                      'action'=>'index',
                                                      'id'=>$game->id)) ?>">
                            <?= $game->game_score ?>
                        </a>
                    </td>
                    <? else: ?>
                    <td class="n5 red center">
                        <a href="<?= $this->url(array('controller'=>'game',
                                                      'action'=>'index',
                                                      'id'=>$game->id)) ?>">
                            <?= $game->game_score ?>
                        </a>
                    </td>
                    <? endif ?>
                <? else: ?>
                <td class="n5 center">
                    <a href="<?= $this->url(array('controller'=>'game',
                                                  'action'=>'index',
                                                  'id'=>$game->id)) ?>">
                        <?= $game->game_score ?>
                    </a>
                </td>
                <? endif ?>
                <td class="n6">
                    <? if ($game->team_two()->id == $game->get_team($this->player->id)->id): ?>
                    <strong>
                        <?= $this->translate($game->team_two()->title) ?>
                    </strong>
                    <? else: ?>
                    <a href="<?= $this->url(array('controller'=>'team',
                                                  'action'=>'index',
                                                  'id'=>$game->team_two()->id)) ?>">
                        <?= $this->translate($game->team_two()->title) ?>
                    </a>
                    <? endif ?>
                </td>
                <td class="n7 center">
                    <? if ($game->video_hd): ?>
                    <div class="ok"></div>
                    <? endif ?>
                </td>
                <td class="n8 center">
                    <?= $game->datetime(null, 'video_time') ?>
                </td>
            </tr>
            <? endforeach ?>
            </tbody><tfoot>
        <tr>
            <td colspan="12" class="n1"><a style="padding: 0px;height: 0px;"></a><a style="padding: 0px;height: 0px;"></a></td>
        </tr>
        </tfoot>


        </table>
    </div>