<li class="item" data-pos-id="<?= $this->player->line_id ?>">
    <div class="i_pic">
        <a href="<?= $this->url(array('controller'=>'player',
                                      'action'=>'index',
                                      'team_id'=>$this->player->row->team_id,
                                      'id'=>$this->player->id)) ?>">
            <? if ($this->player->photo): ?>
            <img src="/img/player_pic/p144_<?= $this->player->photo ?>" alt="">
            <? else: ?>
            <img src="/img/no-photo.png" height="144" width="144" alt="">
            <? endif ?>
        </a>
    </div>
    <div class="i_t">
        <a href="#">
            <?= $this->translate($this->player->name) ?>
        </a>
    </div>
    <div class="label1">
        <a href="#">?</a>
    </div>
    <? if (isset($this->player->row->goals)): ?>
    <div class="label2"
         style="background-image:url(/img/pg50_icon_goals.png)">
        <a href="#"><?= $this->player->row->goals ?></a>
    </div>
    <? endif ?>
    <? if ($this->player->promo_video): ?>
    <div class="promo_label">
        <a data-toggle="modal" onclick="$('#promo<?= $this->player->id ?>').modal('show')"></a>
    </div>
    <div id="promo<?= $this->player->id ?>" class="modal hide"
         style="width:720px; height:400px; left:45%">
        <div class="modal-body" style="padding:0">
            <?= $this->partial('_video.phtml', array('width'=>720, 'height'=>400,
                                                     'src'=>$this->url(
                                                         array('controller'=>'player',
                                                               'action'=>'stream-promo',
                                                               'id'=>$this->player->id)))) ?>

        </div>
    </div>
    <? endif ?>
    <div class="label7"
         style="background-image:
             url(/img/main_pic/p30_<?= $this->player->row->country_image_file ?>)">
        <a href="#">&nbsp;</a>
    </div>
    <div class="label5"
         style="background-image:
             url(/img/line_pic/p30_<?= $this->player->row->line_image_file ?>)">
        <a href="#">&nbsp;</a>
    </div>
    <div class="label6">
        <a href="#">
            <?= $this->player->row->player_number ?>
        </a>
    </div>
    <? if (isset($this->player->row->fav_id)): ?>
    <a class="close" title="<?= $this->translate('Удалить из избранного') ?>"
       href="<?= $this->url(array('controller'=>'user',
                                  'action'=>'delete-favourite',
                                  'id'=>$this->player->row->fav_id)) ?>">
        &times;
    </a>
    <? endif ?>
</li><!-- //item -->