<? foreach ($this->teams as $team): ?>
<li>
    <span class="item">
        <a href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'games-by-team',
                                      'team_id'=>$team->id,
                                      'category_id'=>$this->category->id), null, true) ?>">


            <img width="21" src="/img/team_pic/p144_<?= $team->logo ?>"
                 alt="">
            <?= $team->title ?>
        </a>
    </span>
</li>
<? endforeach ?>