<h1 class="pad">
    <?= $this->title($this->translate($this->team->title)) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'team',
                                              'team'=>$this->team)) ?>
<div id="content" <? if ($this->team->category()): ?>
            style="background-image:url(
            '/img/main_pic/p144_<?= $this->team->category()->image_file ?>');
                   background-size:33%; background-position:center 240px;
                   background-repeat:no-repeat;"<? endif ?>>
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div class="card_command">
        <?= $this->partial('_team_face.phtml', array('team'=>$this->team,
                                                     'games'=>$this->games)) ?>
        <?= $this->partial('_team_descr.phtml', array('team'=>$this->team)) ?>
    </div>
    <table id="games" class="table">
        <thead>
        <tr>
            <td id="#resetsort" class="center"><?= $this->translate('ДАТА') ?>																				</td>
            <td class="n2 center"><?= $this->translate('Матч №') ?></td>
            <td class="n3"><?= $this->translate('Соревнование') ?></td>
            <td class="n4"> </td>
            <td class="n5 center"><?= $this->translate('Матчи') ?></td>
            <td class="n6"> </td>
            <td class="n7 center"><?= $this->translate('Видео') ?></td>
            <td class="n8 center">HD</td>
        </tr>
        </thead>
        <tbody>
        <!--game row-->
        <? foreach ($this->games as $game): ?>
        <tr>
            <td class="n1 center"><?= $game->datetime() ?></td>
            <td class="n2 center"><?= $game->number ?></td>
            <td class="n3">
                <?= $this->translate($game->category()->title) ?>
            </td>
            <td class="n4">
                <? if ($game->team_one()->id == $this->team->id): ?>
                <strong>
                    <?= $this->translate($game->team_one()->title) ?>
                </strong>
                <? else: ?>
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_one()->id)) ?>">
                    <?= $this->translate($game->team_one()->title) ?>
                </a>
                <? endif ?>
            </td>
            <? if ($game->winner()): ?>
            <? if ($game->winner()->id == $this->team->id): ?>
            <td class="n5 green center">
                <a href="<?= $this->url(array('controller'=>'game',
                                              'action'=>'index',
                                              'id'=>$game->id)) ?>">
                    <?= $game->game_score ?>
                </a>
            </td>
            <? else: ?>
            <td class="n5 red center">
                <a href="<?= $this->url(array('controller'=>'game',
                                              'action'=>'index',
                                              'id'=>$game->id)) ?>">
                    <?= $game->game_score ?>
                </a>
            </td>
            <? endif ?>
            <? else: ?>
            <td class="n5 center">
                <a href="<?= $this->url(array('controller'=>'game',
                                              'action'=>'index',
                                              'id'=>$game->id)) ?>">
                    <?= $game->game_score ?>
                </a>
            </td>
            <? endif ?>
            <td class="n6">
                <? if ($game->team_two()->id == $this->team->id): ?>
                <strong>
                    <?= $this->translate($game->team_two()->title) ?>
                </strong>
                <? else: ?>
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_two()->id)) ?>">
                    <?= $this->translate($game->team_two()->title) ?>
                </a>
                <? endif ?>
            </td>
            <td class="n7 center">
                <? if ($game->video_path): ?>
                <div class="ok"></div>
                <? endif ?>
            </td>
            <td class="n8 center">
            <? if ($game->video_hd): ?>
                <div class="ok"></div>
            <? endif ?>
            </td>
        </tr>
        <!--end game row-->
        <? endforeach ?>
        </tbody>
        <tfoot>
    <tr>
        <td colspan="8" class="n1">
            <a style="padding: 0px;height: 0px;"></a>
            <a style="padding: 0px;height: 0px;"></a>
        </td>
    </tr>
    </tfoot>
    </table>
</div>
<script type="text/javascript">
    var table_lang = {
        "sLengthMenu": "<?= $this->translate('выводить по _MENU_рядов на страницу') ?>",
        "sZeroRecords": "<?= $this->translate('Ничего не найдено') ?> :(",
        "sProcessing": "<?= $this->translate('обработка') ?>...",
        "sSearch": "<?= $this->translate('Поиск') ?>:",
        "sFirst": "<?= $this->translate('первая') ?>",
        "sPrevious": "<?= $this->translate('Предыдущая') ?>",
        "sNext": "<?= $this->translate('Следующая') ?>",
        "sLast": "<?= $this->translate('последняя') ?>"
    }
</script>