<h1 class="pad">
    <?= $this->title($this->translate($this->team->title)) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'team',
                                              'team'=>$this->team)) ?>
<div id="content">
    <div class="card_command">
        <?= $this->partial('_team_face.phtml', array('team'=>$this->team,
                                                     'games'=>$this->games)) ?>
        <?= $this->partial('_team_descr.phtml', array('team'=>$this->team)) ?>
    </div><!-- //card_command -->
    <div class="tabs tabs1">
        <ul class="tabNavigation">
            <li><a onclick="filter_players('all', this)" class="selected">
                    <?= $this->translate('Все') ?>
                </a>
            </li>
            <li>
                <a onclick="filter_players('3', this)">
                    <?= $this->translate('Вратарь') ?>
                </a>
            </li>
            <li>
                <a onclick="filter_players('2', this)">
                    <?= $this->translate('Защитник') ?>
                </a>
            </li>
            <li>
                <a onclick="filter_players('1', this)">
                    <?= $this->translate('Нападающий') ?>
                </a>
            </li>
        </ul>
        <div class="tab" id="tab0" style="display: block; ">
            <ul class="items">
                <? foreach ($this->team->fetch_players() as $player): ?>
                <?= $this->partial('team/_player_item.phtml',
                                   array('player'=>$player)) ?>
                <? endforeach ?>
            </ul>
        </div>
    </div>
</div>