<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="width:600px">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body style="color:#888; margin:40px 5em; width:600px;
	             font-family:Tahoma,sans-serif; font-size:x-small">
		<div id="body" style="clear:both; font-size:150%; color:#000;">
			<?= $this->layout()->content ?>
		</div>
	</body>
</html>
