<?= $this->doctype() ?>
<html>
	<head>
		<title>Ошибка</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="/favicon.png">
		<link rel="stylesheet" href="/css/error.css" type="text/css">
		<?= $this->headLink() ?>
		<?= $this->headStyle() ?>
	</head>
	<body>
		<div id="wrapper">
			<h1>Ошибка!</h1>
			<div id="message"><?=$this->message?></div>
			<?if (!empty($this->layout()->content)):?>
				<div id="report">
					<?=$this->layout()->content?>
				</div>
			<?endif?>
		</div>
		<?= $this->headScript() ?>
	</body>
</html>