<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <title><?= $this->placeholder('title') ?> - studio3-1.com</title>
    <link href="/favicon.ico" rel="favicon" >
    <?= $this->headLink()?>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css" >
<body>
<section id="wrap">
    <div class="container">
        <header><div id="header_inner">

            <div id="lang">
                <ul>
                    <li class="f_ru">
                        <a href="<?= $this->url(
                            array('controller'=>'index',
                                  'action'=>'set-locale',
                                  'locale'=>'ru'), 'default', true) ?>">
                            RU
                        </a>
                    </li>
                    <li class="f_en">
                        <a href="<?= $this->url(
                            array('controller'=>'index',
                                  'action'=>'set-locale',
                                  'locale'=>'en'), 'default', true) ?>">
                            EN
                        </a>
                    </li>
                </ul>
            </div><!-- // lang -->
            <div id="search">
                <form method="post"
                      action="<?= $this->url(
                                    array('controller'=>'search',
                                          'action'=>'index'),
                                    null, true) ?>">
                    <fieldset>
                        <label for="f4" style="text-indent: -9999px; ">
                            <?= $this->translate('Поиск') ?>
                        </label>
                        <input name="query" type="text" id="f4"
                               placeholder="<?= $this->translate('Поиск') ?>">
                    </fieldset>
                    <fieldset>
                        <input type="submit"
                                     value="<?= $this->translate('Найти') ?>">
                    </fieldset>
                </form>
                <div class="ico"></div>
            </div>
            <div id="logo">
                <a href="/" alt="Studio 3:1" title="Studio 3:1"></a>
            </div>
            <? if ($this->user): ?>
            <div id="login" class="cabinet">
                <input onclick="window.location.href='<?= $this->url(
                                                array('controller'=>'user',
                                                      'action'=>'logout'),
                                                'default')?>'"
                       type="submit" value="<?= $this->translate('Выход')?>">
                <b>
                    <?= $this->translate('Добро пожаловать') ?>
                    <?= $this->user->first_name ?>!
                </b>
                <? if ($this->acl->isAllowed($this->user->get_status(),
                                            'admin')): ?>
                <p><a href="<?= $this->url(array('controller'=> 'admin',
                                                 'action'=>'dashboard'),
                                          'default', true) ?>">
                    <i class="icon-wrench icon-white"></i> Администрирование
                </a></p>
                <? else: ?>
                <p><?= $this->translate('Ваш аккаунт действителен до') ?> <?= $this->user->end_date ?></p>
                <? endif; ?>
            </div>
            <? else: ?>
            <div id="login">
                <form method="post"
                      action="<?= $this->url(
                          array('controller'=>'user',
                                'action'=>'login'), 'default')?>">
                    <fieldset>
                        <label for="f1">
                            <?= $this->translate('Логин')?> /
                            email
                        </label>
                        <input name="email" type="text" id="f1">
                    </fieldset>
                    <fieldset>
                        <label for="f2"><?= $this->translate('Пароль')?></label>
                        <input name="password" type="password" id="f2">
                    </fieldset>
                    <fieldset>
                        <input type="submit" value="<?= $this->translate('Войти')?>">
                    </fieldset>
                </form>
                <a href="<?= $this->url(array('controller'=>'user',
                                              'action'=>'register'),
                                       'default')?>">
                    <?= $this->translate('Запросить тестовый доступ')?></a>
            </div><!-- // login-->
            <? endif ?>

        </div></header><!-- // header-->
        <?= $this->partial('_nav.phtml', array('user'=>$this->user,
                                               'acl'=>$this->acl)) ?>
        <article>
            <?=$this->layout()->content?>
        </article>
        <div class="clear"></div>
        <footer>
            <div id="footer_inner">
                <a href="#">@studio3-1.com</a> | <?= $this->translate('Все права защищены')?>
            </div>
        </footer>
    </div>
</section>
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<?= $this->headScript() ?>
</body>
</html>