<p>Пользователь вошел с разных IP-адресов</p>

<table cellpadding="0" cellspacing="0" id="cart-list" style="width: 100%;">
    <tbody>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                ид сессии
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                ид / логин пользователя
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                IP
            </td>
        </tr>
        <? foreach ($this->records as $record): ?>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $record->id ?>
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->id ?> / <?= $this->user->email ?>
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $record->ip ?>
            </td>
        </tr>
        <? endforeach ?>
    </tbody>
</table>