<p>На сайте Studio 3:1 зарегистрирован новый пользователь.</p>

<table cellpadding="0" cellspacing="0" id="cart-list" style="width: 100%;">
    <tbody>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                login
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->email ?>
            </td>
        </tr>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                Имя
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->first_name ?>
                <?= $this->user->last_name ?>
            </td>
        </tr>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                Страна
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->locale ?>
            </td>
        </tr>
    </tbody>
</table>