<p>На сайте Studio 3:1 вам был сделан запрос на триал доступ.</p>

<table cellpadding="0" cellspacing="0" id="cart-list" style="width: 100%;">
    <tbody>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                пароль
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <strong><?= $this->password ?></strong>
            </td>
        </tr>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                Имя
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->first_name ?>
                <?= $this->user->last_name ?>
            </td>
        </tr>
        <tr>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                Страна
            </td>
            <td style="padding:.8em;border-top:1px dotted #BFC3C6">
                <?= $this->user->locale ?>
            </td>
        </tr>
    </tbody>
</table>

<p>Доступ будет предоставлен после модерации нашим администратором,
   о чем будет сообщено письмом.</p>