<h1>
    <?= $this->title($this->translate('Результаты поиска по запросу').' "'.$this->query.'"') ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'general')) ?>
<div id="content">
    <? if (count($this->players)): ?>
    <h5>
        <?= $this->translate('Игроки') ?>
    </h5>
        <table class="table table-striped left">
            <tr>
                <th><?= $this->translate('Имя') ?></th>
                <th><?= $this->translate('Страна') ?></th>
                <th><?= $this->translate('Позиция') ?></th>
                <th><?= $this->translate('Команда') ?></th>
            </tr>
            <? foreach($this->players as $player): ?>
            <tr>
                <td>
                    <a href="<?= $this->url(array('controller'=>'player',
                                                  'action'=>'index',
                                                  'id'=>$player->getDocument()->getFieldValue('id'))) ?>">
                        <? if ($player->photo): ?>
                        <img width="21" src="/img/player_pic/p144_<?= $player->photo ?>"
                             alt="">
                        <? endif ?>
                        <?= $this->translate($player->name) ?>
                    </a>
                </td>
                <td><img width="21"
                         src="/img/countries/<?= $player->country_image_file ?>"
                         alt="">
                </td>
                <td><?= $this->translate($player->line_title) ?></td>
                <td>
                    <img width="21" src="/img/team_pic/p144_<?= $player->team_logo ?>" alt="">
                    <?= $this->translate($player->team_title) ?>
                </td>
            </tr>
            <? endforeach ?>
        </table>
    <? endif ?>
    <? if (count($this->teams)): ?>
    <h5>
        <?= $this->translate('Команды') ?>
    </h5>
        <table class="table table-striped centered">
            <tr>
                <th></th>
                <th><?= $this->translate('Название') ?></th>
                <th><?= $this->translate('Тренер') ?></th>
                <th><?= $this->translate('Страна') ?></th>
                <th><?= $this->translate('Лига') ?></th>
            </tr>
            <? foreach($this->teams as $team): ?>
            <tr>
                <td>
                    <img width="21" src="/img/team_pic/p144_<?= $team->logo ?>" alt="">
                </td>
                <td>
                    <a href="<?= $this->url(array('controller'=>'team',
                                                  'action'=>'index',
                                                  'id'=>$team->getDocument()->getFieldValue('id'))) ?>">
                    <?= $this->translate($team->title) ?>
                    </a>
                </td>
                <td>
                    <?= $this->translate($team->coach_name) ?>
                </td>
                <td>

                </td>
                <td>
                    <?= $this->translate($team->category_title) ?>
                </td>
            </tr>
            <? endforeach ?>
        </table>
    <? endif ?>
    <? if (count($this->games)): ?>
    <h5>
        <?= $this->translate('Матчи') ?>
    </h5>
    <table class="table table-striped centered">
        <tr>
            <th><?= $this->translate('Номер') ?></th>
            <th><?= $this->translate('Дата') ?> /
                <?= $this->translate('Время') ?></th>
            <th><?= $this->translate('Команда') ?></th>
            <th><?= $this->translate('Счет') ?></th>
            <th><?= $this->translate('Команда') ?></th>
            <th><?= $this->translate('Соревнование') ?></th>
        </tr>
        <? foreach($this->games as $game): ?>
        <tr>
            <td>
                <?= $game->number ?>
            </td>
            <td>
                <?= $game->getDocument()->getFieldValue('datetime') ?>
            </td>
            <td>
                <?= $this->translate($game->team_one_title) ?>
            </td>
            <td>
                <?= $game->game_score ?>
            </td>
            <td>
                <?= $this->translate($game->team_two_title) ?>
            </td>
            <td>
                <? $pieces = explode(', ', $game->category_title) ?>
                <?= $this->translate($pieces[0]) ?>
                <?= $this->translate($pieces[1]) ?>
                <?= isset($pieces[2]) ? $this->translate($pieces[2]) : '' ?>
            </td>
        </tr>
        <? endforeach ?>
    </table>
    <? endif ?>
</div>