<h1><?= $this->title($this->translate('Главная')) ?></h1>
<?= $this->partial('_side_panel.phtml') ?>
<div id="content">
    <ul class="items">
        <? foreach ($this->countries as $country): ?>
        <li class="item">
            <div class="i_pic">
                <a href="<?= $this->url(array('controller'=>'country',
                                              'action'=>'index',
                                              'id'=>$country->id)) ?>">
                    <img src="/img/main_pic/p144_<?= $country->image_file ?>"
                         alt="<?= $this->translate($country->title) ?>"></a>
            </div>
            <div class="i_t">
                <a href="<?= $this->url(array('controller'=>'country',
                                              'action'=>'index',
                                              'id'=>$country->id)) ?>">
                    <?= $this->translate($country->title) ?>
                </a>
            </div>
            <div class="label1">
                <a href="#"> <?= $country->count_videos() ?></a>
            </div>
        </li>
        <? endforeach ?>
    </ul>
</div>