<h1 class="pad">
    <span class="gerb" style="background-image:url(/img/ico_star.png)"></span>
    <?= $this->title($this->translate('Избранное')) ?>
</h1>
<?= $this->partial('_side_panel.phtml', array('set'=>'general')) ?>
<div id="content">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <? if (count($this->teams)): ?>
    <h5>
        <?= $this->translate('Команды') ?>
    </h5>
    <ul class="items">
    <? foreach($this->teams as $team): ?>
        <li class="item">
            <div class="i_pic">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$team->id)) ?>">
                    <img src="/img/team_pic/p144_<?= $team->logo ?>"
                         alt="">
                </a>
            </div>
            <div class="i_t">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$team->id)) ?>">
                    <?= $this->translate($team->title) ?>
                </a>
            </div>

            <a class="close" title="<?= $this->translate('Удалить из избранного') ?>"
               href="<?= $this->url(array('controller'=>'user',
                                          'action'=>'delete-favourite',
                                          'id'=>$team->row->fav_id)) ?>">
                &times;
            </a>

        </li>
    <? endforeach ?>
    </ul>
    <? endif ?>
    <? if (count($this->players)): ?>
    <h5>
        <?= $this->translate('Игроки') ?>
    </h5>
    <ul class="items">
        <? foreach ($this->players as $player): ?>
        <?= $this->partial('team/_player_item.phtml',
                            array('player'=>$player)) ?>
        <? endforeach ?>
    </ul>
    <? endif ?>
    <? if (count($this->games)): ?>
    <h5>
        <?= $this->translate('Матчи') ?>
    </h5>
    <table class="table">
        <thead>
        <tr>
            <td class="n1 center"><?= $this->translate('ДАТА') ?>																				</td>
            <td class="n2 center"><?= $this->translate('Матч №') ?></td>
            <td class="n3"><?= $this->translate('Соревнование') ?></td>
            <td class="n4"> </td>
            <td class="n5 center"><?= $this->translate('Матчи') ?></td>
            <td class="n6"> </td>
            <td class="n7"><?= $this->translate('Видео') ?></td>
            <td class="n8">HD</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <!--game row-->
            <? foreach ($this->games as $game): ?>
        <tr>
            <td class="n1 center"><?= $game->datetime() ?></td>
            <td class="n2 center    "><?= $game->number ?></td>
            <td class="n3">
                <?= $this->translate($game->category()->title) ?>
            </td>
            <td class="n4">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_one()->id)) ?>">
                    <?= $this->translate($game->team_one()->title) ?>
                </a>
            </td>
            <td class="n5 center">
                <a href="<?= $this->url(array('controller'=>'game',
                                              'action'=>'index',
                                              'id'=>$game->id)) ?>">
                    <?= $game->game_score ?>
                </a>
            </td>
            <td class="n6">
                <a href="<?= $this->url(array('controller'=>'team',
                                              'action'=>'index',
                                              'id'=>$game->team_two()->id)) ?>">
                    <?= $this->translate($game->team_two()->title) ?>
                </a>
            </td>
            <td class="n7 center">
                <? if ($game->video_path): ?>
                <div class="ok"></div>
                <? endif ?>
            </td>
            <td class="n8 center">
                <? if ($game->video_hd_path): ?>
                <div class="ok"></div>
                <? endif ?>
            </td>
            <td>
                <a class="close" title="<?= $this->translate('Удалить из избранного') ?>"
                   href="<?= $this->url(array('controller'=>'user',
                                              'action'=>'delete-favourite',
                                              'id'=>$game->row->fav_id)) ?>">
                    &times;
                </a>
            </td>
        </tr>
        <!--end game row-->
            <? endforeach ?>
        </tbody>
    </table>
    <? endif ?>
</div>