<h1><?= $this->title($this->translate('Восстановление пароля')) ?></h1>
<div id="content">
    <? $messages = $this->messenger->getCurrentMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="form-horizontal"
          action="<?= $this->url(array('controller'=>'user',
                                       'action'=>'recover'), null, true)?>">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="login">
                    <?= $this->translate('Логин') ?>
                </label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="login"
                           name="email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">
                    <?= $this->translate('Пароль') ?>
                </label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password"
                           name="password">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    <?= $this->translate('Войти') ?>
                </button>
                <a href="<?= $this->url(array('controller'=>'user',
                                              'action'=>'recover'), null, true)?>"
                   id="recover">
                    <?= $this->translate('Восстановить пароль') ?>
                </a>
            </div>
        </fieldset>
    </form>
</div>