<h1><?= $this->title($this->translate('Запрос проведен успешно')) ?></h1>
<div id="content">
<div class="alert alert-success">
    <h5 class="alert-heading">Ваш запрос принят!</h5>
    Ожидайте письмо с подтверждением и паролем, которое будет выслано
    на указанный вами адрес.
</div>
</div>