<h1><?= $this->title($this->translate('ЗАПРОС ТРИАЛ ДОСТУПА')) ?></h1>
<? $messages = $this->messenger->getCurrentMessages()?>
<? foreach ($messages as $message): ?>
        <?= $message ?>
<? endforeach ?>
<p>Текст с описанием и условиями использования данного вида доступа....</p>
<div class="trial_form">
    <form enctype="application/x-www-form-urlencoded" action="" method="post">
        <dl>
            <dt id="type-label">
                <label for="type">
                    <?= $this->translate('Какой вид доступа Вы хотите попробовать') ?>:
                </label>
            </dt>
            <dd id="type-element">
                <select name="type" id="type">
                    <option value="0">
                        <?= $this->translate('Для федераций / клубов') ?>
                    </option>
                    <option value="1">
                        <?= $this->translate('Для агентов') ?>
                    </option>
                </select>
            </dd>
        </dl>
        <div class="new_row"></div>
        <dl>
            <dt id="typesport-label">
            <label for="sport_id"><?= $this->translate('Вид спорта') ?>:</label>
            </dt>
            <dd id="typesport-element">
                <select name="sport_id" id="sport_id">
                    <option value="2">
                        <?= $this->translate('Футбол') ?>
                    </option>
                    <option value="1">
                        <?= $this->translate('Хоккей') ?>
                    </option>
                </select>
            </dd>
    </dl>
        <div class="new_row"></div>
        <dl><dt id="name-label">
            <label for="first_name">
                <?= $this->translate('Имя') ?>:
            </label>
        </dt>
        <dd id="name-element">
            <input type="text" name="first_name" id="first_name" value="">
        </dd>
    </dl>
        <dl>
            <dt id="family-label">
                <label for="last_name">
                    <?= $this->translate('Фамилия') ?>:
                </label>
            </dt>
        <dd id="family-element">
            <input type="text" name="last_name" id="last_name" value="">
        </dd>
        </dl>
        <dl>
            <dt id="country-label">
                <label for="locale"><?= $this->translate('Страна') ?>:
                </label>
            </dt>
            <dd id="country-element">
                <input type="text" name="locale" id="locale" value="">
            </dd>
        </dl>
        <dl class="disabl">
            <dt id="num_lic-label">
                <label for="num_lic">
                    <?= $this->translate('Номер лицензии') ?>:
                </label>
            </dt>
        <dd id="num_lic-element">
            <input type="text" name="num_lic" id="num_lic" value=""></dd>
        </dl>
        <dl class="disabl">
            <dt id="agency-label">
                <label for="agency">Агентство:
                </label>
            </dt>
        <dd id="agency-element">
            <input type="text" name="agency" id="agency" value=""></dd>
        </dl>
        <dl><dt id="club-label">
            <label for="club"><?= $this->translate('Клуб / Федерация') ?>:
            </label>
        </dt>
        <dd id="club-element">
            <input type="text" name="club" id="club" value=""></dd>
        </dl>
        <dl><dt id="job-label">
            <label for="job_title"><?= $this->translate('Должность') ?>:</label>
        </dt>
        <dd id="job-element">
            <input type="text" name="job_title" id="job_title" value="">
        </dd>
        </dl>
        <dl><dt id="phone-label">
            <label for="phone"><?= $this->translate('Мобильный') ?>:</label>
        </dt>
        <dd id="phone-element">
            <input type="text" name="phone" id="phone" value=""></dd>
        </dl>
        <dl>
            <dt id="mail-label">
                <label for="email">E-mail:</label>
            </dt>
        <dd id="mail-element">
            <input type="text" name="email" id="email" value=""></dd>
        </dl>
        <dl><dt id="skype-label">
            <label for="skype">Skype:</label>
        </dt>
        <dd id="skype-element">
            <input type="text" name="skype" id="skype" value=""></dd>
        </dl>
        <dl><dt id="packet-label">
            <label for="packet">
                <?= $this->translate('В каком пакете услуг вы заинтересованы') ?>?</label>
        </dt>
        <dd id="packet-element">
            <input type="text" name="packet" id="packet" value=""></dd>
        </dl>
        <dl>
            <dt id="recomend-label">
                <label for="recomend">
                    <?= $this->translate('Кто порекомендовал нас') ?>?
                </label>
            </dt>
        <dd id="recomend-element">
            <input type="text" name="recomend" id="recomend"
                   value="" disabled></dd>
        </dl>
        <dl>
            <dt id="message-label">
                <label for="message"><?= $this->translate('Примечание') ?>:</label>
            </dt>
        <dd id="message-element">
            <input type="text" name="message" id="message" value="">
        </dd>
    </dl>
        <div class="new_row_new">

        </div>
        <dl>
            <dt id="submit-label"><sup class="req">*</sup>
                - <?= $this->translate('поля, обязательные для заполнения') ?>
            </dt>
            <dd id="submit-element">
                <input type="submit" class="submit"
                       value="<?= $this->translate('Отправить') ?>" id="submit">
            </dd>
        </dl>
    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
    <? endif ?>
</script>