/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:960px;
}
#carousel {
  height:280px;
  width:960px;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
}


.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}

.carousel-feature img{
	/*border: 3px solid #c6cbd1;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;*/
 }

.tracker-individual-container {
  position:absolute;
  color:white;
  left: 0px;
  bottom:5px;
  padding:0;
  text-align: center;
  z-index: 10;
}

.tracker-individual-container .tracker-individual-blip {
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background: url(bt1.png);
}
.tracker-individual-container .tracker-individual-blip-selected {
  background: url(bt1a.png);
}
#carousel-left {
  position:absolute;
  top:193px;
  left:10px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  top:193px;
  right:10px;
  cursor:pointer;
}