<tr>
    <td>
        <? if ($this->stat->row->player_photo): ?>
        <img width="21"
             src="/img/player_pic/p144_<?= $this->stat->row->player_photo ?>"
             alt="">
        <? endif ?>
    </td>
    <td>
        <?= $this->stat->row->player_name ?>
    </td>
    <td>
        <?= $this->stat->goals_authored ?>
    </td>
    <td>
        <?= $this->stat->assists ?>
    </td>
    <td>
        <?= $this->stat->points ?>
    </td>
    <td>
        <?= $this->stat->plus_minus ?>
    </td>
    <td>
        <?= $this->stat->penalty_time ?>
    </td>
    <td>
        <?= $this->stat->score_equal ?>
    </td>
    <td>
        <?= $this->stat->score_grater ?>
    </td>
    <td>
        <?= $this->stat->score_less ?>
    </td>
    <td>
        <?= $this->stat->score_overtime ?>
    </td>
    <td>
        <?= $this->stat->score_win ?>
    </td>
    <td>
        <?= $this->stat->score_win_bullets ?>
    </td>
    <td>
        <?= $this->stat->attempts ?>
    </td>
    <td>
        <?= $this->stat->performance ?>
    </td>
    <td>
        <?= $this->stat->face_offs ?>
    </td>
    <td>
        <?= $this->stat->face_offs_won ?>
    </td>
    <td>
        <?= $this->stat->face_off_performance ?>
    </td>
    <td>
        <?= $this->stat->field_time ?>
    </td>
    <td>
        <?= $this->stat->shifts ?>
    </td>
    <td>
        <a class="btn btn-mini" title="редактировать запись"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-stat',
                                      'player_line'=>'back',
                                      'id'=> $this->stat->id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
    </td>
</tr>