<? $game_id = method_exists($this->game, 'team_one')
    ? $this->game->id
    : $this->game->getDocument()->getFieldValue('id')?>
<tr>
    <td title="идентификатор матча в базе">
        <code><i class="icon icon-barcode"></i> <?= $game_id ?></code>
    </td>
    <td>
        #<?= $this->game->number ?>
    </td>
    <td>
        <? if (method_exists($this->game, 'team_one')): ?>
        <?= $this->game->team_one()->title ?>
        <? else: ?>
        <?= $this->game->team_one_title ?>
        <? endif ?>
    </td>
    <td>
        <?= $this->game->game_score ?>
    </td>
    <td>
    <? if (method_exists($this->game, 'team_two')): ?>
    <?= $this->game->team_two()->title ?>
    <? else: ?>
    <?= $this->game->team_two_title ?>
    <? endif ?>
    </td>
    <td>
        <? if (method_exists($this->game, 'category')): ?>
        <?= implode(' ', $this->game->category()->parents(true, 2)) ?>
        <? else: ?>
        <?= $this->game->category_title ?>
        <? endif ?>
    </td>
    <td>
        <? if (method_exists($this->game, 'datetime')): ?>
        <?= $this->game->datetime(Application_Model_Game::DATETIME_FORMAT) ?>
        <? else: ?>
            <?= $this->game->getDocument()->getFieldValue('datetime') ?>
        <? endif ?>
    </td>
    <td>
        <a class="btn btn-mini" title="редактировать матч"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-game',
                                      'id'=> $game_id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
        <a class="btn btn-mini" title="метки матча"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'game-marks',
                                      'id'=> $game_id), null, true)?>">
            <i class="icon icon-map-marker"></i>
        </a>
        <a class="btn btn-mini" title="заявленные составы"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'lineup',
                                      'id'=> $game_id), null, true)?>">
            <i class="icon icon-th"></i>
        </a>
        <a class="btn btn-mini" title="статистика игроков"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'player-stats',
                                      'id'=> $game_id), null, true)?>">
            <i class="icon icon-align-left"></i>
        </a>
    </td>
</tr>