<tr>
    <td>
        <? if ($this->stat->row->player_photo): ?>
        <img width="21"
             src="/img/player_pic/p144_<?= $this->stat->row->player_photo ?>"
             alt="">
        <? endif ?>
    </td>
    <td>
        <?= $this->stat->row->player_name ?>
    </td>
    <td>
        <?= $this->stat->games_won ?>
    </td>
    <td>
        <?= $this->stat->games_lost ?>
    </td>
    <td>
        <?= $this->stat->bullet_games ?>
    </td>
    <td>
        <?= $this->stat->attempts ?>
    </td>
    <td>
        <?= $this->stat->score_missed ?>
    </td>
    <td>
        <?= $this->stat->saves ?>
    </td>
    <td>
        <?= $this->stat->saving_performance ?>
    </td>
    <td>
        <?= $this->stat->saving_ratio ?>
    </td>
    <td>
        <?= $this->stat->goals_authored ?>
    </td>
    <td>
        <?= $this->stat->assists ?>
    </td>
    <td>
        <?= $this->stat->dry_games ?>
    </td>
    <td>
        <?= $this->stat->penalty_time ?>
    </td>
    <td>
        <?= $this->stat->field_time ?>
    </td>
    <td>
        <a class="btn btn-mini" title="редактировать запись"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-stat',
                                      'player_line'=> 'goalie',
                                      'id'=> $this->stat->id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
    </td>
</tr>