<tr>
    <td><?= $this->mark->type_map[$this->mark->type] ?></td>
    <td><?= $this->mark->title ?></td>
    <td><?= $this->mark->time_protocol ?></td>
    <td>
        <? if ($this->mark->row->player_photo): ?>
        <img width="21" src="/img/player_pic/p144_<?= $this->mark->row->player_photo ?>"
             alt="">
        <? endif ?>
        <?= $this->mark->row->player_name ?>
    </td>
    <td><?= $this->mark->row->team_title ?></td>
    <td>
        <a class="btn btn-mini" title="редактировать метку"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-mark',
                                      'id'=> $this->mark->id))?>">
            <i class="icon icon-pencil"></i>
        </a>
    </td>
</tr>