<div class="pagination .pagination-centered">
    <ul>
        <li><a>Всего: <?= $this->totalItemCount ?></a></li>
        <? if($this->pageCount > 1): ?>
        <? if (isset($this->previous)): ?>
        <li><a class="prev"
               href="<?= $this->previous == 1
                   ? $this->url(array('page' => null))
                   : $this->url(array('page' => $this->previous)); ?>">назад
            </a>
        </li>
        <? endif; ?>
        <? if($this->current > 1 && $this->firstPageInRange > 1): ?>
        <li><a href="<? echo $this->url(array(
                                    'page'=> null))?>">
        <?= Zend_Locale_Format::toNumber(1)?></a></li>
        <li><a>...</a></li>
        <? endif?>
        <? foreach ($this->pagesInRange as $page): ?>
        <? if ($page != $this->current): ?>
        <li><a href="<?= $page == 1
                    ? $this->url(array('page' => null))
                    : $this->url(array('page' => $page)) ?>">
                <?= $page; ?>
            </a>
        </li>
        <? else: ?>
        <li class="active"><a><?= $page; ?></a></li>
        <? endif; ?>
        <? endforeach; ?>
		<? if($this->current != $this->last
            && $this->last > $this->lastPageInRange): ?>
        <li><a>...</a></li>
	    <li>
            <a href="<?= $this->url(array('page' => $this->last))?>">
                <?= Zend_Locale_Format::toNumber($this->last); ?>
            </a>
        </li>
		<? endif?>
		<? if (isset($this->next)): ?>
	    <li><a class="next"
               href="<?= $this->url(array('page' => $this->next)); ?>">
                далее
            </a>
        </li>
		<? endif; ?>
	<? endif ?>
    </ul>
</div>