<? if ($this->player instanceof Application_Model_Player) {
    $player_id = $this->player->id;
    $country_image_file = $this->player->row->country_image_file;
    $line_title = $this->player->row->line_title;
    $team_title = $this->player->row->team_title;
} else {
    $player_id = $this->player->getDocument()->getFieldValue('id');
    $country_image_file = $this->player->country_image_file;
    $line_title = $this->player->line_title;
    $team_title = $this->player->team_title;
} ?>
<tr>
    <td>
        <? if ($this->player->photo): ?>
        <img width="21" src="/img/player_pic/p144_<?= $this->player->photo ?>"
             alt="">
        <? endif ?>
    </td>
    <td><img width="21"
             src="/img/countries/<?= $country_image_file ?>"
             alt="">
    </td>
    <td><?= $this->player->name ?></td>
    <td><?= $line_title ?></td>
    <td><?= $team_title ?></td>
    <td>
        <a class="btn btn-mini" title="редактировать игрока"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-player',
                                      'id'=> $player_id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
        <a class="btn btn-mini" title="трансферы игрока"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'player-transfer',
                                      'id'=> $player_id), null, true)?>">
            <i class="icon icon-retweet"></i>
        </a>
    </td>
</tr>