<? $team_id = $this->team instanceof Application_Model_Team
    ? $this->team->id
    : $this->team->getDocument()->getFieldValue('id')?>
<tr>
    <td><img width="21" src="/img/team_pic/p144_<?= $this->team->logo ?>" alt=""></td>
    <td><?= $this->team->title ?></td>
    <td><?= $this->team->arena_title ?></td>
    <td><?= $this->team->coach_name ?></td>
    <td>
        <a class="btn btn-mini" title="редактировать команду"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-team',
                                      'id'=> $team_id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
    </td>
</tr>