<? $has_children = count($this->node['children']) ?>
<li id="cat_<?= $this->node['cat']->id ?>" data-type="<?= $this->node['type'] ?>">
    <span class="item">
            <? if ($has_children): ?>
            <i class="icon icon-folder-close collapse-toggle"
               data-toggle="collapse"
               data-target="#children_<?= $this->node['cat']->id ?>"></i>
            <? endif ?>
        <span onclick="select_category(this, '<?= $this->node['cat']->id ?>')"
              class="title"
              id="<?= $this->node['cat']->id ?>"><?= $title = $this->node['cat']->title ?></span>
        <a class="icon icon-cog show_edit" title="Редактирование"></a>
        <span class="edit">
            <a title="Перетащить" href="" class="btn btn-mini handle">
                <i class="icon icon-move"></i>
            </a>
            <? if ($this->node['cat']->status_id==1): ?>
            <a title="Скрыть" class="btn btn-mini"
               onclick="update_status(<?= $this->node['cat']->id ?>, 0, this)">
                <i class="icon icon-eye-close"></i>
            </a>
            <? else: ?>
            <a title="Показывать"
               onclick="update_status(<?= $this->node['cat']->id ?>, 1, this)"
               class="btn btn-mini btn-warning active">
                <i class="icon icon-eye-close"></i>
            </a>
            <? endif ?>
    </span>
    </span>
    <ul id="children_<?= $this->node['cat']->id ?>" class="collapse">
    <? foreach ($this->node['children'] as $node): ?>
    <?= $this->partial('admin/_tree_node.phtml',
                       array('node'=>$node, 'title'=>$title)) ?>
    <? endforeach ?>
    </ul>
</li>