<tr>
    <td>
        <img width="21"
             src="http://www.gravatar.com/avatar/<?= md5($this->user->email) ?>?s=21&d=identicon"
             alt="">
    </td>
    <td><?= $this->user->first_name ?> <?= $this->user->last_name ?></td>
    <td><?= $this->user->email ?></td>
    <td><?= $this->user->locale ?></td>
    <td><?= $this->user->club ?></td>
    <td>
        <? if ($this->user->last_login_time != '0000-00-00 00:00:00'): ?>
        <?= $this->user->last_login_time ?>
        <? endif ?>
    </td>
    <td>
        <? if ($this->user->status_id == 2): ?>
        <i class="icon icon-star"></i>
        <? elseif ($this->user->status_id == 1): ?>
        <i class="icon icon-user"></i>
        <? else: ?>
        <i class="icon icon-lock"></i>
        <? endif ?>
    </td>
    <td>
        <a class="btn btn-mini" title="редактировать пользователя"
           href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-user',
                                      'id'=> $this->user->id), null, true)?>">
            <i class="icon icon-pencil"></i>
        </a>
    </td>
</tr>