<h1>Добавление матчей из CSV</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getCurrentMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form enctype="multipart/form-data"  class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="parent_id">Соревнование</label>
                <div class="controls">
                    <select class="span6 chosen" name="parent_id" id="parent_id">
                    <? foreach ($this->tree as $node): ?>
                    <?= $this->partial('admin/_category_option.phtml',
                        array('node'=>$node, 'title'=>null,
                              'parent_id'=>$this->parent_id)) ?>
                    <? endforeach ?>
                </select></div>
            </div>

            <div class="control-group">
                <label class="control-label"
                       for="file">Файл CSV</label>
                <div class="controls">
                    <input type="file" id="file" name="file">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-upload icon-white"></i>
                        загрузить матчи
                    </button>
                    <button onclick="window.history.back()"
                            type="button" class="btn">
                        отмена
                    </button>
                </div>
            </div>
        </fieldset>

    </form>
</div>