<h1><?= $this->title('Администрирование') ?></h1>
<aside>
    <ul>
        <li class="ico_stat1 rd3">
            <a href="<?= $this->url(array('controller'=>'admin',
                                          'action'=>'import-game-stats'), null, true)?>">
                Импорт статистики матча
            </a>
        </li>
        <li class="">
            <a href="<?= $this->url(array('controller'=>'admin',
                                          'action'=>'manage-users'), null, true)?>">
                управление пользователями
            </a>
        </li>
        <li class="ico_index">
            <a href="<?= $this->url(array('controller'=>'admin',
                                          'action'=>'recreate-index')) ?>">
                Создать индекс
            </a></li>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row block">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div class="tool">
        <button onclick="games()" disabled id="games_button"
                class="btn btn pull-right">
            <i class="icon icon-list"></i>
            матчи
        </button>
        <button id="teams_seasons_button" onclick="teams_to_season()" disabled
                class="btn btn pull-right">
            <i class="icon icon-list-alt"></i>
            отображаемые команды
        </button>
        <button id="teams_button" onclick="teams()" disabled
                class="btn btn pull-right">
            <i class="icon icon-list"></i>
            команды
        </button>
        <button onclick="players()" disabled id="players_button"
                class="btn btn pull-right">
            <i class="icon icon-list"></i>
            игроки
        </button>
        <button title="Удалить" disabled id="delete_button"
                onclick="delete_category()"
                class="btn btn pull-right edit">
            <i class="icon icon-remove"></i>
            удалить
        </button>
        <button title="Редактирование соревнования" disabled
                id="update_button"
                onclick="update_category()" class="btn pull-right edit">
            <i class="icon icon-pencil"></i>
            изменить
        </button>
        <button title="Добавить соревнование / сезон" disabled
                id="create_button"
                onclick="add_category()"
                class="btn pull-right edit">
            <i class="icon icon-plus"></i> добавить
        </button>
    </div>
    <ul id="tree" class="">
        <? foreach ($this->tree as $node): ?>
        <?= $this->partial('admin/_tree_node.phtml',
            array('node'=>$node, 'title'=>null)) ?>
        <? endforeach ?>
    </ul>
</div>