<h1>
    Метки матча №<?= $this->game->number ?>
    "<?= $this->game->team_one()->title ?> <?= $this->game->game_score ?>
    <?= $this->game->team_two()->title ?>, <?= $this->game->datetime() ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="marks_block" class="block span10">
        <div class="tool">
<!--        <a title="Импорт матчей из CSV" id="scv_import_button"-->
<!--           href="--><?//= $this->url(array('controller'=>'admin',
//                                      'game_id'=> $this->game->id,
//                                      'action'=>'add-marks'), null, true) ?><!--"-->
<!--           class="btn pull-right">-->
<!--            <i class="icon icon-plus"></i><i class="icon icon-file"></i>-->
<!--            импорт матчей из CSV-->
<!--        </a>-->
        <a href="<?= $this->url(array('controller'=>'admin',
                                      'game_id'=> $this->game->id,
                                      'action'=>'update-mark'), null, true) ?>"
           class="btn pull-right">
            <i class="icon icon-plus"></i> добавить метку
        </a>
        </div>
        <table id="marks" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <? foreach ($this->game->marks() as $mark): ?>
            <?= $this->partial('admin/_mark_row.phtml', array('mark'=>$mark)) ?>
            <? endforeach ?>
        </table>
    </div>
</div>