<h1 class="pad">
        <span class="gerb"
              style="background-image:url(
                  '/img/team_pic/p70_<?= $this->team->logo ?>')">
          </span>
    Матчи команды "<?= $this->team->title ?>"<? if ($this->category): ?>, <?= $this->category->title ?><? endif ?>
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<? $cat_id = $this->category ? $this->category->id : null ?>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="games_block" class="block span10">
        <a href="<?= $this->url(array('controller'=> 'admin',
                                      'action'=> 'update-game',
                                      'category_id'=> $cat_id), null, true) ?>"
           class="tool btn pull-right">
            <i class="icon icon-plus"></i> добавить матч в это соревнование
        </a>
        <table id="games" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <? foreach ($this->team->fetch_games($cat_id) as $game): ?>
            <?= $this->partial('admin/_game_row.phtml', array('game'=>$game)) ?>
            <? endforeach ?>
        </table>
    </div>
</div>