<h1>
    <? if ($this->category): ?><?= $this->category->title ?><? endif ?>,
    матчи
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<? $cat_id = $this->category ? $this->category->id : null ?>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="games_block" class="block span10">
        <a title="Импорт матчей из CSV" id="scv_import_button"
           href="<?= $this->url(array('controller'=>'admin',
                                      'parent_id'=> $cat_id,
                                      'action'=>'add-games'), null, true) ?>"
                class="btn pull-right">
            <i class="icon icon-plus"></i><i class="icon icon-file"></i>
            импорт матчей из CSV
        </a>
        <a href="<?= $this->url(array('controller'=>'admin',
                                      'category_id'=> $cat_id,
                                      'action'=>'update-game'), null, true) ?>"
           class="btn pull-right">
            <i class="icon icon-plus"></i> добавить матч
        </a>
        <div class="pull-right">
            <input id="game_search" data-type="games" type="text" class="span2 "
                   placeholder="искать во всех матчах...">
        </div>
        <table id="games" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <? foreach ($this->games as $game): ?>
            <?= $this->partial('admin/_game_row.phtml', array('game'=>$game)) ?>
            <? endforeach ?>
        </table>
        <?= $this->paginator ?>
    </div>
</div>