<h1>Импорт статистики игры из XLS</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getCurrentMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form enctype="multipart/form-data"  class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="file">Файл XLS</label>
                <div class="controls">
                    <input type="file" id="file" name="file">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-upload icon-white"></i>
                        начать импорт
                    </button>
                    <button onclick="window.history.back()"
                            type="button" class="btn">
                        отмена
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>