<h1>
    Заявленные составы матча №<?= $this->game->number ?>
    "<?= $this->game->team_one()->title ?> <?= $this->game->game_score ?>
    <?= $this->game->team_two()->title ?>, <?= $this->game->datetime() ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal" action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="player_ids">Игроки</label>
                <div class="controls">
                    <select multiple class="span4 chosen"
                            name="player_ids[]" id="player_ids">
                <? $selected_ids = array_keys($this->game->fetch_players()) ?>
                        <? foreach ($this->players as $player): ?>
                        <?= $this->partial('admin/_player_option.phtml',
                            array('player'=> $player,
                                  'selected_ids'=> $selected_ids)) ?>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    сохранить список
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>
    </form>
</div>