<h1><?= $this->title('Администрирование: пользователи') ?></h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row block">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div class="tool">
        <a href="<?= $this->url(array('controller'=>'admin',
                                      'action'=>'update-user'))?>"
           id="create_user" class="btn btn pull-right">
            <i class="icon icon-plus"></i>
            <i class="icon icon-user"></i>
            добавить пользователя
        </a>
    </div>
    <table id="users" class="table table-striped"
           cellpadding="0" cellspacing="0">
        <? foreach ($this->users as $user): ?>
        <?= $this->partial('admin/_user_row.phtml', array('user'=>$user)) ?>
        <? endforeach ?>
    </table>
</div>