<h1>
    <? if ($this->sport): ?><?= $this->sport->title ?><? endif ?>,
    <?= $this->title('игроки') ?>
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<? $sport_id = $this->sport ? $this->sport->id : null ?>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="players_block" class="block span10">
        <a title="Импорт игроков из XLS" id="import_button"
           href="<?= $this->url(array('controller'=>'admin',
                                      'sport_id'=> $sport_id,
                                      'action'=>'import-players'), null, true) ?>"
           class="btn pull-right">
            <i class="icon icon-plus"></i><i class="icon icon-file"></i>
            импорт игроков из XLS
        </a>
        <a href="<?= $this->url(array('controller'=>'admin',
                                      'sport_id'=> $sport_id,
                                      'action'=>'update-player'), null, true) ?>"
           class="btn pull-right">
            <i class="icon icon-plus"></i> добавить игрока
        </a>
        <div class="pull-right">
            <input id="player_search" data-type="players" type="text" class="span2 "
                   placeholder="искать среди всех игроков...">
        </div>
        <table id="players" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <? foreach ($this->players as $player): ?>
            <?= $this->partial('admin/_player_row.phtml', array('player'=>$player)) ?>
            <? endforeach ?>
        </table>
        <?= $this->paginator ?>
    </div>
</div>