<h1>
    Статистика игроков матча №<?= $this->game->number ?>
    "<?= $this->game->team_one()->title ?> <?= $this->game->game_score ?>
    <?= $this->game->team_two()->title ?>, <?= $this->game->datetime() ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="stats_block" class="block span10">
        <div class="tool">
            <h3>Нападающие</h3>
            <a href="<?= $this->url(array('controller'=>'admin',
                                      'game_id'=> $this->game->id,
                                      'player_line'=> 'forward',
                                      'action'=>'update-stat'), null, true) ?>"
               class="btn pull-right">
            <i class="icon icon-plus"></i> добавить статистику нападающего
            </a>
        </div>
        <table id="forward-stats" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Игрок</th>
                    <th>Ш</th>
                    <th>А</th>
                    <th>О</th>
                    <th>+/-</th>
                    <th>Штр</th>
                    <th>ШР</th>
                    <th>ШБ</th>
                    <th>ШМ</th>
                    <th>ШО</th>
                    <th>ШП</th>
                    <th>РБ</th>
                    <th>БВ</th>
                    <th>%БВ</th>
                    <th>Вбр</th>
                    <th>ВВбр</th>
                    <th>%Вбр</th>
                    <th>ВП</th>
                    <th>См</th>
                    <th></th>
                </tr>
            </thead>
            <? foreach ($this->game->fetch_stats('forward') as $stat): ?>
            <?= $this->partial('admin/_forward_stat_row.phtml',
                                array('stat'=>$stat)) ?>
            <? endforeach ?>
        </table>
        <div class="tool">
            <h3>Защитники</h3>
            <a href="<?= $this->url(array('controller'=>'admin',
                                          'game_id'=> $this->game->id,
                                          'player_line'=> 'back',
                                          'action'=>'update-stat'), null, true) ?>"
               class="btn pull-right">
                <i class="icon icon-plus"></i> добавить статистику защитника
            </a>
        </div>

        <table id="back-stats" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Игрок</th>
                    <th>Ш</th>
                    <th>А</th>
                    <th>О</th>
                    <th>+/-</th>
                    <th>Штр</th>
                    <th>ШР</th>
                    <th>ШБ</th>
                    <th>ШМ</th>
                    <th>ШО</th>
                    <th>ШП</th>
                    <th>РБ</th>
                    <th>БВ</th>
                    <th>%БВ</th>
                    <th>Вбр</th>
                    <th>ВВбр</th>
                    <th>%Вбр</th>
                    <th>ВП</th>
                    <th>См</th>
                    <th></th>
                </tr>
            </thead>
            <? foreach ($this->game->fetch_stats('back') as $stat): ?>
            <?= $this->partial('admin/_back_stat_row.phtml',
                                array('stat'=>$stat)) ?>
            <? endforeach ?>
        </table>
        <div class="tool">
            <h3>Вратари</h3>
            <a href="<?= $this->url(array('controller'=>'admin',
                                          'game_id'=> $this->game->id,
                                          'player_line'=> 'goalie',
                                          'action'=>'update-stat'), null, true) ?>"
               class="btn pull-right">
                <i class="icon icon-plus"></i> добавить статистику вратаря
            </a>
        </div>

        <table id="goalie-stats" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Игрок</th>
                    <th>В</th>
                    <th>П</th>
                    <th>ИБ</th>
                    <th>Бр-</th>
                    <th>ПШ</th>
                    <th>ОБ</th>
                    <th>%ОБ</th>
                    <th>КН</th>
                    <th>Ш</th>
                    <th>А</th>
                    <th>И"О"</th>
                    <th>Штр</th>
                    <th>ВП</th>
                    <th></th>
                </tr>
            </thead>
            <? foreach ($this->game->fetch_stats('goalie') as $stat): ?>
            <?= $this->partial('admin/_goalie_stat_row.phtml',
                                array('stat'=>$stat)) ?>
            <? endforeach ?>
        </table>
    </div>
</div>