<h1 class="pad">
    <span class="gerb"><img width="65" src="/img/player_pic/p144_<?= $this->player->photo ?>"
         alt="">
    </span>
    <?= $this->player->name ?> - трансферы
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <dic class="block">
    <div class="tool">
    <a href="<?= $this->url(array('controller'=>'admin',
                                  'player_id'=> $this->player->id,
                                  'action'=>'update-transfer'), null, true) ?>"
       class="btn pull-right">
        <i class="icon icon-plus"></i> добавить трансфер
    </a>
    </div>
    <table class="table table-striped" cellpadding="0" cellspacing="0">
    <? foreach ($this->player->fetch_transfers() as $transfer): ?>
        <tr>
            <td>
                <img width="21" alt=""
                     src="/img/team_pic/p144_<?= $transfer->row->team_logo ?>" >
            </td>
            <td>
                <?= $transfer->row->team_title ?>
            </td>
            <td>
                <?= $transfer->number ?>
            </td>
            <td>
                <?= $transfer->datetime() ?> -
                <?= $transfer->datetime(null, 'datetime_end') ?>
            </td>
            <td>
                <a class="btn btn-mini" title="редактировать трансфер"
                   href="<?= $this->url(array('controller'=>'admin',
                                              'action'=>'update-transfer',
                                              'player_id'=>$this->player->id,
                                              'id'=> $transfer->id), null, true)?>">
                    <i class="icon icon-pencil"></i>
                </a>
            </td>
        </tr>
    <? endforeach ?>
    </table>
    </div>
</div>