<h1>Добавление матчей в поисковый индекс</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getCurrentMessages()?>
<? foreach ($messages as $message): ?>
    <?= $message ?>
<? endforeach ?>
</div>