<h1>Администрирование: статистика</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="normal">
    <table style="width:50%" class="table table-striped" cellpadding="0" cellspacing="0">
        <tr>
            <td>Команд</td>
            <td><strong><?= $this->teams_total ?></strong></td>
        </tr>
        <tr>
            <td>Игроков</td>
            <td><strong><?= $this->players_total ?></strong></td>
        </tr>
        <tr>
            <td>Матчей</td>
            <td><strong><?= $this->games_total ?></strong></td>
        </tr>
        <tr>
            <td>Зарегистрированых пользователей</td>
            <td><strong><?= $this->users_total ?></strong></td>
        </tr>
    </table>
</div>