<h1>
   <? if ($this->category): ?><?= $this->category->title ?><? endif ?>,
    <?= $this->title('команды') ?>
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<? $cat_id = $this->category ? $this->category->id : null ?>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages()?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <div id="teams_block" class="block span10">
        <a href="<?= $this->url(array('controller'=>'admin', 'sport_id'=> $cat_id,
                                      'action'=>'update-team'), null, true) ?>"
           class="btn pull-right">
            <i class="icon icon-plus"></i> добавить команду
        </a>
        <div class="pull-right">
            <input id="team_search" data-type="teams" type="text" class="span2 "
                   placeholder="искать во всех командах...">
        </div>
        <table id="teams" class="table table-striped"
               cellpadding="0" cellspacing="0">
            <? foreach ($this->teams as $team): ?>
            <?= $this->partial('admin/_team_row.phtml', array('team'=>$team)) ?>
            <? endforeach ?>
        </table>
        <?= $this->paginator ?>
    </div>
</div>