<h1>
    Команды в сезоне "<?= $this->category->title ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal" action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="team_ids">Команды</label>
                <div class="controls">
                    <select multiple class="span4 chosen"
                            name="team_ids[]" id="team_ids">
                        <? foreach ($this->teams as $team): ?>
                        <?= $this->partial('admin/_team_option.phtml',
                            array('team'=>$team,
                                  'selected_ids'=>$this->selected_ids)) ?>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    сохранить список
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>

    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>