<h1>
    <? if ($this->mark->id): ?>
    Редактирование метки матча
    <? else: ?>
    Создание метки матча
    <? endif ?>
    №<?= $this->game->number ?>
    "<?= $this->game->team_one()->title ?> <?= $this->game->game_score ?>
    <?= $this->game->team_two()->title ?>, <?= $this->game->datetime() ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = array_merge($this->messenger->getCurrentMessages(),
    $this->messenger->getMessages())?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="title">Заголовок</label>
                <div class="controls">
                    <input type="text" id="title" name="title"
                           value="<?= $this->mark->title ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="type">Тип</label>
                <div class="controls">
                    <select name="type" id="type">
                        <? foreach($this->mark->type_map as $id=>$title): ?>
                        <option value="<?= $id ?>"
                            <? if ($this->mark->type==$id): ?>
                                selected
                            <? endif ?>
                            >
                            <?= $title ?>
                        </option>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="description_line1">Описание</label>
                <div class="controls">
                    <input type="text" id="description_line1"
                           class="description"
                           name="description_line1"
                           value="<?= $this->mark->description_line1 ?>">
                    <br><br>
                    <input type="text" id="description_line2"
                           class="description"
                           name="description_line2"
                           value="<?= $this->mark->description_line2 ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="time_protocol">Время по протоколу</label>
                <div class="controls">
                    <input type="text" id="time_protocol" name="time_protocol"
                           class="date"
                           value="<?= $this->mark->time_protocol ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="time_video">Время на видео</label>
                <div class="controls">
                    <input type="text" id="time_video" name="time_video"
                           class="date"
                           value="<?= $this->mark->time_video ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="player_id">Игрок</label>
                <div class="controls">
                    <select name="player_id" id="player_id">
                        <option value="">нет</option>
                        <? foreach ($this->game->fetch_players() as $player): ?>
                        <option value="<?= $player->id ?>"
                        <? if ($this->mark->player_id==$player->id): ?>
                                selected
                        <? endif ?>
                            >
                            <?= $player->name ?>
                        </option>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="team_id">Команда</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="team_id"
                               id="team_id" value="<?= $this->game->team_one()->id ?>"
                            <? if ($this->mark->team_id==$this->game->team_one()->id): ?>
                               checked
                            <? endif ?>
                            >
                        <?= $this->game->team_one()->title ?>
                    </label><br>
                    <label class="radio">
                        <input type="radio" name="team_id"
                               id="team_id2" value="<?= $this->game->team_two()->id ?>"
                            <? if ($this->mark->team_id==$this->game->team_two()->id): ?>
                               checked
                            <? endif ?>
                            >
                        <?= $this->game->team_two()->title ?>
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <? if ($this->mark->id): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-game-mark',
                                  'game_id'=>$this->game->id,
                                  'id'=> $this->mark->id))?>')">
                    удалить метку
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>