<h1>
    <? if ($this->stat->id): ?>
    Редактирование статистики игрока в матче
    <? else: ?>
    Создание статистики игрока в матче
    <? endif ?>
    №<?= $this->game->number ?>
    "<?= $this->game->team_one()->title ?> <?= $this->game->game_score ?>
    <?= $this->game->team_two()->title ?>, <?= $this->game->datetime() ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getCurrentMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <input type="hidden" name="game_id"
                   value="<?= $this->game->id ?>">
            <div class="control-group">
                <label class="control-label" for="player_id">Игрок</label>
                <div class="controls">
                    <select name="player_id" id="player_id">
                        <option value="">нет</option>
                        <? foreach ($this->game->fetch_players() as $player): ?>
                        <option value="<?= $player->id ?>"
                            <? if ($this->stat->player_id==$player->id): ?>
                                selected
                            <? endif ?>
                            >
                            <?= $player->name ?>
                        </option>
                        <? endforeach ?>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="goals_authored">
                    <strong>Ш</strong>
                </label>
                <div class="controls">
                    <input type="text" id="goals_authored" name="goals_authored"
                           class="number"
                           value="<?= $this->stat->goals_authored ?>">
                    <span class="help-inline">Заброшенные шайбы</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="assists">
                    <strong>А</strong>
                </label>
                <div class="controls">
                    <input type="text" id="assists" name="assists"
                           class="number"
                           value="<?= $this->stat->assists ?>">
                    <span class="help-inline">Передачи</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="penalty_time">
                    <strong>Штр</strong>
                </label>
                <div class="controls">
                    <input type="text" id="penalty_time" name="penalty_time"
                           class="number"
                           value="<?= $this->stat->penalty_time ?>">
                    <span class="help-inline">Штрафное время</span>
                </div>
            </div>

            <? if ($this->player_line != 'goalie'): ?>

            <div class="control-group">
                <label class="control-label" for="points">
                    <strong>О</strong>
                </label>
                <div class="controls">
                    <input type="text" id="points" name="points"
                           class="number"
                           value="<?= $this->stat->points ?>">
                    <span class="help-inline">Очки</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="plus_minus">
                    <strong>+ / -</strong>
                </label>
                <div class="controls">
                    <input type="text" id="plus_minus" name="plus_minus"
                           class="number"
                           value="<?= $this->stat->plus_minus ?>">
                    <span class="help-inline">Плюс/Минус</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_equal">
                    <strong>ШР</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_equal" name="score_equal"
                           class="number"
                           value="<?= $this->stat->score_equal ?>">
                    <span class="help-inline">Шайбы, забитые в равенстве</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_grater">
                    <strong>ШБ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_grater" name="score_grater"
                           class="number"
                           value="<?= $this->stat->score_grater ?>">
                    <span class="help-inline">Шайбы, забитые в большинстве</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_less">
                    <strong>ШМ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_less" name="score_less"
                           class="number"
                           value="<?= $this->stat->score_less ?>">
                    <span class="help-inline">Шайбы, забитые в меньшинстве</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_equal">
                    <strong>ШО</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_overtime" name="score_overtime"
                           class="number"
                           value="<?= $this->stat->score_overtime ?>">
                    <span class="help-inline">Шайбы, забитые в овертайме</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_win">
                    <strong>ШП</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_win" name="score_win"
                           class="number"
                           value="<?= $this->stat->score_win ?>">
                    <span class="help-inline">Победные шайбы</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_win_bullets">
                    <strong>РБ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_win_bullets"
                           name="score_win_bullets"
                           class="number"
                           value="<?= $this->stat->score_win_bullets ?>">
                    <span class="help-inline">Решающие буллиты</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="attempts">
                    <strong>БВ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="attempts" name="attempts"
                           class="number"
                           value="<?= $this->stat->attempts ?>">
                    <span class="help-inline">Броски по воротам</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="performance">
                    <strong>%БВ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="performance" name="performance"
                           class="number"
                           value="<?= $this->stat->performance ?>">
                    <span class="help-inline">Процент реализованных бросков</span>
                    <br><br>
                    <div class="progress progress-striped" style="width:250px">
                        <div class="bar"
                             style="width: <?= $this->stat->performance ?>%;"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="face_offs">
                    <strong>Вбр</strong>
                </label>
                <div class="controls">
                    <input type="text" id="face_offs" name="face_offs"
                           class="number"
                           value="<?= $this->stat->face_offs ?>">
                    <span class="help-inline">Вбрасывания</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="face_offs_won">
                    <strong>ВВбр</strong>
                </label>
                <div class="controls">
                    <input type="text" id="face_offs_won" name="face_offs_won"
                           class="number"
                           value="<?= $this->stat->face_offs_won ?>">
                    <span class="help-inline">Выигранные вбрасывания</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="face_off_performance">
                    <strong>%Вбр</strong>
                </label>
                <div class="controls">
                    <input type="text" id="face_off_performance"
                           name="face_off_performance"
                           class="number"
                           value="<?= $this->stat->face_off_performance ?>">
                    <span class="help-inline">Процент выигранных вбрасываний</span>
                    <br><br>
                    <div class="progress progress-striped" style="width:250px">
                        <div class="bar"
                             style="width: <?= $this->stat->face_off_performance ?>%;"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="shifts">
                    <strong>См</strong>
                </label>
                <div class="controls">
                    <input type="text" id="shifts" name="shifts" class="number"
                           value="<?= $this->stat->shifts ?>">
                    <span class="help-inline">Количество смен</span>
                </div>
            </div>

            <? else: ?>

            <div class="control-group">
                <label class="control-label" for="games_won">
                    <strong>В</strong>
                </label>
                <div class="controls">
                    <input type="text" id="games_won" name="games_won"
                           class="number"
                           value="<?= $this->stat->games_won ?>">
                    <span class="help-inline">Выигрыши</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="games_lost">
                    <strong>П</strong>
                </label>
                <div class="controls">
                    <input type="text" id="games_lost" name="games_lost"
                           class="number"
                           value="<?= $this->stat->games_lost ?>">
                    <span class="help-inline">Проигрыши</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="bullet_games">
                    <strong>ИБ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="bullet_games" name="bullet_games"
                           class="number"
                           value="<?= $this->stat->bullet_games ?>">
                    <span class="help-inline">Игры с буллитными сериями</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="attempts">
                    <strong>Бр</strong>
                </label>
                <div class="controls">
                    <input type="text" id="g-attempts" name="attempts"
                           class="number"
                           value="<?= $this->stat->attempts ?>">
                    <span class="help-inline">Броски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="score_missed">
                    <strong>ПШ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="score_missed" name="score_missed"
                           class="number"
                           value="<?= $this->stat->score_missed ?>">
                    <span class="help-inline">Пропущенные шайбы</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="saves">
                    <strong>ОБ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="saves" name="saves"
                           class="number"
                           value="<?= $this->stat->saves ?>">
                    <span class="help-inline">Отраженные броски</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="saving_performance">
                    <strong>%ОБ</strong>
                </label>
                <div class="controls">
                    <input type="text" id="saving_performance"
                           name="saving_performance"
                           class="number"
                           value="<?= $this->stat->saving_performance ?>">
                    <span class="help-inline">Процент отраженных бросков</span>
                    <br><br>
                    <div class="progress progress-striped" style="width:250px">
                        <div class="bar"
                             style="width:<?= $this->stat->saving_performance ?>%;"></div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="saving_ratio">
                    <strong>КН</strong>
                </label>
                <div class="controls">
                    <input type="text" id="saving_ratio" name="saving_ratio"
                           class="number"
                           value="<?= $this->stat->saving_ratio ?>">
                    <span class="help-inline">
                        Коэффициент надежности = 60мин*ПШ/ВП
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dry_games">
                    <strong>И"О"</strong>
                </label>
                <div class="controls">
                    <input type="text" id="dry_games" name="dry_games"
                           class="number"
                           value="<?= $this->stat->dry_games ?>">
                    <span class="help-inline">"Сухие игры"</span>
                </div>
            </div>

            <? endif ?>

            <div class="control-group">
                <label class="control-label" for="field_time">
                    <strong>ВП</strong>
                </label>
                <div class="controls">
                    <input type="text" id="field_time" name="field_time"
                           class="number"
                           value="<?= $this->stat->field_time ?>">
                    <span class="help-inline">Время на площадке</span>
                </div>
            </div>
            <div class="form-actions">
                <? if ($this->stat->id): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-stat',
                                  'player_line'=>$this->player_line,
                                  'game_id'=>$this->game->id,
                                  'id'=> $this->stat->id))?>')">
                    удалить запись
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>