<? if ($this->player)
    $country_id = $this->player->country_id;
else
    $country_id = null ?>
<h1>
    <? if ($this->player): ?>
    <?= $this->title('Редактирование игрока')?> "<?= $this->player->name ?>"
    <? else: ?>
    <?= $this->title('Добавление игрока') ?>
    <? endif ?>
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form enctype="multipart/form-data" class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <? if ($this->player): ?>
            <div class="control-group">
                <label class="control-label">Идентификатор</label>
                <div class="controls">
                    <code style="font-size:120%">
                        <i class="icon icon-barcode"></i>
                        <?= $this->player->id ?>
                    </code>
                </div>
            </div>
            <? endif ?>
            <div class="control-group">
                <label class="control-label"
                       for="country_id">Страна</label>
                <div class="controls">
                    <select class="span6 chosen" name="country_id" id="country_id">
                        <? foreach ($this->countries as $country): ?>
                        <?= $this->partial('admin/_country_option.phtml',
                            array('country'=>$country,
                                  'selected_id'=>$country_id)) ?>
                        <? endforeach ?>
                    </select>
                    <input type="hidden" name="sport_id"
                           value="<?= $this->sport->id ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="name">Имя</label>
                <div class="controls">
                    <input class="title" type="text" id="name"
                           name="name"
                           value="<? if ($this->player): ?><?= $this->player->name ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Фото</label>
                <div class="controls">
                    <? if ($this->player): ?>
                        <? if ($this->player->photo): ?>
                        <img src="/img/player_pic/p144_<?= $this->player->photo ?>"
                         alt="">
                        <? else: ?>
                        <img src="/img/no-photo.png" width="144" alt="">
                        <? endif; ?>
                    <? endif ?>
                    <br><br>
                    <input type="file" id="file" name="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="promo">Промо видео</label>
                <div class="controls">
                    <input type="text" id="promo" style="width:70%"
                           name="promo_video"
                           value="<? if ($this->player): ?><?= $this->player->promo_video ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="height">Рост</label>
                <div class="controls">
                    <input type="text" id="height"
                           name="height" class="title"
                           value="<? if ($this->player): ?><?= $this->player->height ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="weight">Вес</label>
                <div class="controls">
                    <input type="text" id="weight"
                           name="weight" class="title"
                           value="<? if ($this->player): ?><?= $this->player->weight ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="datetime">Дата рождения</label>
                <div class="controls">
                    <input class="date" type="text" id="datetime"
                           name="datetime"
                           value="<? if ($this->player): ?><?= $this->player->datetime() ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="line_id">Амплуа</label>
                <div class="controls">
                    <? foreach ($this->lines as $line): ?>
                    <label class="radio">
                        <input type="radio" name="line_id"
                               id="line_id" value="<?= $line->id  ?>"
                            <? if ($this->player): ?>
                            <? if ($this->player->line_id==$line->id): ?>
                               checked=""
                                <? endif ?>
                            <? endif ?>
                            >
                        <?= $line->ml_title_1 ?>
                    </label><br>
                    <? endforeach ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="hand">Хват</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="hand"
                               id="hand" value="1"
                            <? if ($this->player): ?>
                            <? if ($this->player->hand=='1'): ?>
                               checked=""
                                <? endif ?>
                            <? endif ?>
                            >
                        правша
                    </label><br>
                    <label class="radio">
                        <input type="radio" name="hand"
                               id="hand2" value="2"
                            <? if ($this->player): ?>
                            <? if ($this->player->hand=='2'): ?>
                               checked=""
                                <? endif ?>
                            <? endif ?>
                            >
                        левша
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <? if ($this->player): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-player',
                                  'id'=> $this->player->id))?>')">
                    удалить игрока
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>

    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>