<h1>
    <? if ($this->altered_user): ?>
    <?= $this->title('Редактирование пользователя')?> "<?= $this->altered_user->id ?>"
    <? else: ?>
    <?= $this->title('Добавление пользователя') ?>
    <? endif ?>
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
        <form enctype="multipart/form-data" class="form-horizontal well"
          action="" method="post">
        <fieldset>
            <div class="span5">
            <? if ($this->altered_user): ?>
            <div class="control-group">
                <label class="control-label">Идентификатор</label>
                <div class="controls">
                    <code style="font-size:120%">
                        <i class="icon icon-barcode"></i>
                        <?= $this->altered_user->id ?>
                    </code>
                </div>
            </div>
            <? endif ?>
            <div class="control-group">
                <label class="control-label"
                       for="first_name">Имя</label>
                <div class="controls">
                    <input class="title" type="text" id="first_name"
                           name="first_name"
                           value="<? if ($this->altered_user): ?><?= $this->altered_user->first_name ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="last_name">Фамилия</label>
                <div class="controls">
                    <input class="title" type="text" id="last_name"
                           name="last_name"
                           value="<? if ($this->altered_user): ?><?= $this->altered_user->last_name ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="email">Email</label>
                <div class="controls">
                    <input type="text" name="email" id="email"
                           value="<?= $this->altered_user->email ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="phone">Телефон</label>
                <div class="controls">
                    <input type="text" name="phone" id="phone"
                           value="<?= $this->altered_user->phone ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="club">Клуб</label>
                <div class="controls">
                    <input type="text" name="club" id="club"
                           value="<?= $this->altered_user->club ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="job_title">Должность</label>
                <div class="controls">
                    <input type="text" name="job_title" id="job_title"
                           value="<?= $this->altered_user->job_title ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="agency">Агентство</label>
                <div class="controls">
                    <input type="text" name="agency" id="agency"
                           value="<?= $this->altered_user->agency ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="locale">Страна</label>
                <div class="controls">
                    <input type="text" name="locale" id="locale"
                           value="<?= $this->altered_user->locale ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="registration_date">Дата регистрации</label>
                <div class="controls">
                    <input type="text" name="registration_date" id="registration_date"
                           value="<?= $this->altered_user->registration_date ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="end_date">Дата завершения</label>
                <div class="controls">
                    <input type="text" name="end_date" id="end_date"
                           value="<?= $this->altered_user->end_date ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="status_id">Статус</label>
                <div class="controls">
                    <select class="span3 chosen"
                            name="status_id" id="status_id">
                        <? foreach ($this->altered_user->get_status_map()
                                    as $id=>$title): ?>
                        <option value="<?= $id ?>"
                            <? if ($id==$this->altered_user->status_id):?>
                            selected
                            <? endif ?>>
                            <?= $title ?>
                        </option>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="cat_ids">Доступ к категориям</label>
                <div class="controls">
                    <select class="span3 chosen" multiple=""
                            name="cat_ids" id="cat_ids">
                        <? foreach ($this->categories as $cat): ?>
                        <option value="<?= $cat->id ?>">
                            <?= $cat->title ?>
                        </option>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            </div>
            <div class="span4">
                <h3>
                    IP адреса
                </h3>
                <table class="table table-striped">
                    <? $cur_ips = $this->altered_user->fetch_open_IPs(); ?>
                    <? foreach ($this->altered_user->fetch_IPs() as $record): ?>
                    <tr>
                        <td><?= $record->ip ?></td>
                        <td>
                        <? if (in_array($record->ip, $cur_ips)): ?>
                            <i title="Пользователь сейчас онлайн с этого адреса"
                               class="icon icon-check"></i>
                        <? endif ?>
                        </td>
                        <td>
                            <?= $record->start_datetime ?>
                        </td>
                    </tr>
                    <? endforeach ?>
                </table>
            </div>
            <div class="form-actions span7">
                <? if ($this->altered_user): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-user',
                                  'email'=> $this->altered_user->email))?>')">
                    удалить пользователя
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>