<h1>
    Трансфер #<?= $this->transfer->id ?> игрока "<?= $this->player->name ?>"
</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = $this->messenger->getMessages() ?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal" action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="team_id">Команда</label>
                <div class="controls">
                    <select class="span4 chosen"
                            name="team_id" id="team_id">
                        <? foreach ($this->teams as $team): ?>
                        <?= $this->partial('admin/_team_option.phtml',
                            array('team'=>$team,
                                  'selected_ids'=>array($this->transfer->team_id))) ?>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="datetime">Дата вступления</label>
                <div class="controls">
                    <input class="date" type="text" id="datetime"
                           name="datetime"
                           value="<?= $this->transfer->datetime() ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="number">Номер</label>
                <div class="controls">
                    <input style="width:5%" type="text" id="number"
                           name="number"
                           value="<?= $this->transfer->number ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="datetime_end">Дата выхода</label>
                <div class="controls">
                    <input class="date" type="text" id="datetime_end"
                           name="datetime_end"
                           value="<?= $this->transfer->datetime(null, 'datetime_end') ?>">
                </div>
            </div>

            <div class="form-actions">
                <? if ($this->transfer->id): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-transfer',
                                  'player_id'=>$this->player->id,
                                  'id'=> $this->transfer->id))?>')">
                    удалить трансфер
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>

    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>