<h1>
    <? if ($this->category): ?>
    Расширенное редактирование соревнования
    <? else: ?>
    Создание соревнования
    <? endif ?></h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = array_merge($this->messenger->getCurrentMessages(),
                               $this->messenger->getMessages())?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form enctype="multipart/form-data"  class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label"
                       for="category_id">Соревнование</label>
                <div class="controls">
                    <? $parent_id = $this->parent_id ? $this->parent_id : $this->category->parent_id ?>
                    <select class="span6 chosen" name="parent_id"
                            id="category_id">
                        <? foreach ($this->tree as $node): ?>
                        <?= $this->partial('admin/_category_option.phtml',
                            array('node'=>$node, 'title'=>null,
                                  'parent_id'=>$parent_id)) ?>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="title">Название</label>
                <div class="controls">
                    <input type="text" id="title" name="title"
                           value="<?= $this->category ? $this->category->title : '' ?>">
                    <input type="hidden" name="id"
                           value="<?= $this->category ? $this->category->id : ''?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="file">Изображение</label>
                <div class="controls">
                    <? if ($this->category): ?>
                    <? if ($this->category->image_file): ?>
                    <img src="/img/main_pic/p144_<?= $this->category->image_file ?>"
                         alt=""><br><br>
                    <? endif ?>
                    <? endif ?>
                    <input type="file" id="file" name="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="status_id">Показывать?</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="status_id"
                               id="status_id" value="1"
                            <? if ($this->category): ?>
                            <? if ($this->category->status_id==1): ?>
                               checked=""
                                <? endif ?>
                            <? endif ?>
                            >
                        <i class="icon icon-eye-open"></i> да
                    </label><br>
                    <label class="radio">
                        <input type="radio" name="status_id"
                               id="status_id2" value="0"
                            <? if ($this->category): ?>
                            <? if ($this->category->status_id==0): ?>
                               checked=""
                                <? endif ?>
                            <? endif ?>
                            >
                        <i class="icon icon-eye-close"></i> нет
                    </label>
                </div>
            </div>
            <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                сохранить изменения
            </button>
            <button onclick="window.history.back()"
                    type="button" class="btn">
                отмена
            </button>
        </div>
        </fieldset>

    </form>
</div>