<h1>
    <? if ($this->game): ?>
    Редактирование 
    <? else: ?>
    Добавление
    <? endif ?>
    матча</h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = array_merge($this->messenger->getMessages(),
                               $this->messenger->getCurrentMessages())?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form class="well form-horizontal" action="" method="post">
        <fieldset>
            <? if ($this->game): ?>
            <div class="control-group">
                <span class="control-label">Идентификатор</span>
                <div class="controls">
                    <code style="font-size:120%">
                        <i class="icon icon-barcode"></i>
                        <?= $this->game->id ?>
                    </code>
                </div>
            </div>
            <? endif ?>
            <div class="control-group">
                <label class="control-label"
                       for="category_id">Соревнование</label>
                <div class="controls">
                    <select class="span6 chosen" name="category_id"
                            id="category_id">
                        <? foreach ($this->tree as $node): ?>
                        <?= $this->partial('admin/_category_option.phtml',
                            array('node'=>$node, 'title'=>null,
                                  'parent_id'=>$this->category_id)) ?>
                        <? endforeach ?>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="game_score">Команды и счет</label>
                <div class="controls">
                    <? if ($this->game): ?>
                    <img width="40"
                         src="/img/team_pic/p144_<?= $this->game
                                                            ->team_one()
                                                            ->logo ?>"
                         alt="">
                    <? endif ?>
                    <select class="span3 chosen" name="team_one_id"
                            id="team_one_id">
                        <? foreach ($this->teams as $team_one): ?>
                        <option
                            <? if ($this->game): ?>
                            <? if ($this->game->team_one_id == $team_one->id): ?>
                            selected
                            <? endif ?>
                            <? endif ?>
                            value="<?= $team_one->id ?>">
                            <?= $team_one->title ?>
                        </option>
                        <? endforeach ?>
                    </select>
                    <input style="width:9%;font-size:160%; font-weight:bold;
                                  margin:0 1em; text-align:center"
                           type="text" id="game_score" name="game_score"
                           placeholder="счет"
                           value="<? if ($this->game): ?><?= $this->game->game_score  ?><? endif ?>">
                    <select class="span3 chosen" name="team_two_id"
                            id="team_two_id">
                        <? foreach ($this->teams as $team_two): ?>
                        <option
                            <? if ($this->game): ?>
                            <? if ($this->game->team_two_id == $team_two->id): ?>
                            selected
                            <? endif ?>
                            <? endif ?>
                            value="<?= $team_two->id ?>">
                            <?= $team_two->title ?>
                        </option>
                        <? endforeach ?>
                    </select>
                    <? if ($this->game): ?>
                    <img width="40" src="/img/team_pic/p144_<?= $this->game->team_two()->logo ?>"
                         alt="">
                    <? endif ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="datetime">Время проведения</label>
                <div class="controls">
                    <input class="datetime" type="text" id="datetime"
                           name="datetime"
                           value="<? if ($this->game): ?><?= $this->game->datetime(Application_Model_Game::DATETIME_FORMAT) ?><? endif ?>">
                    <p class="help-block">
                        Формат: <strong>ДД.ММ.ГГГГ чч:мм</strong></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="number">Номер</label>
                <div class="controls">
                    <input style="width:5%" type="text" id="number"
                           name="number"
                           value="<? if ($this->game): ?><?= $this->game->number ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="arena_title">Арена</label>
                <div class="controls">
                    <input class="title" type="text" id="arena_title"
                           name="arena_title"
                           value="<? if ($this->game): ?><?= $this->game->arena_title ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="video_path">Видео</label>
                <div class="controls">
                    <input style="width:70%" type="text" id="video_path"
                           name="video_path"
                           value="<? if ($this->game): ?><?= $this->game->video_path ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="review_path">Обзор</label>
                <div class="controls">
                    <input style="width:70%" type="text" id="review_path"
                           name="review_path"
                           value="<? if ($this->game): ?><?= $this->game->review_path ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="scoreboard_html">Счет по периодам</label>
                <div class="controls">
                    <textarea cols="20" rows="7" class="tinymce"
                              style="width:70%" id="scoreboard_html"
                              name="scoreboard_html"><? if ($this->game): ?><?= $this->game->scoreboard_html ?><? endif ?></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="protocol_html">Протокол</label>
                <div class="controls">
                    <textarea cols="20" rows="7" style="width:70%"
                              id="protocol_html" class="tinymce"
                              name="protocol_html"><? if ($this->game): ?><?= $this->game->protocol_html ?><? endif ?></textarea>
                </div>
            </div>
            <div class="form-actions">
                <? if ($this->game): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-game',
                                  'id'=> $this->game->id))?>')">
                    удалить матч
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>