<? if ($this->team)
       $country_id = $this->team->country_id;
   else
       $country_id = null ?>
<h1>
    <? if ($this->team): ?>
    Редактирование команды "<?= $this->team->title ?>"
    <? else: ?>
    Добавление команды
    <? endif ?>
    </h1>
<aside>
    <ul>
        <?= $this->partial('admin/_back_button.phtml') ?>
    </ul>
</aside>
<div id="content" class="row">
    <? $messages = array_merge($this->messenger->getMessages(),
    $this->messenger->getCurrentMessages())?>
    <? foreach ($messages as $message): ?>
    <?= $message ?>
    <? endforeach ?>
    <form enctype="multipart/form-data" class="well form-horizontal"
          action="" method="post">
        <fieldset>
            <? if ($this->team): ?>
            <div class="control-group">
                <label class="control-label">Идентификатор</label>
                <div class="controls">
                    <code style="font-size:120%">
                        <i class="icon icon-barcode"></i>
                        <?= $this->team->id ?>
                    </code>
                </div>
            </div>
            <? endif ?>
            <div class="control-group">
                <label class="control-label"
                       for="country_id">Страна</label>
                <div class="controls">
                    <select class="span6 chosen" name="country_id" id="country_id">
                        <? foreach ($this->countries as $country): ?>
                        <?= $this->partial('admin/_country_option.phtml',
                            array('country'=>$country,
                                  'selected_id'=>$country_id)) ?>
                        <? endforeach ?>
                    </select>
                    <? if (!$this->team): ?>
                    <input type="hidden" name="sport_id"
                           value="<?= $this->sport->id ?>">
                    <? endif ?>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="title">Название</label>
                <div class="controls">
                    <input class="title" type="text" id="title"
                           name="title"
                           value="<? if ($this->team): ?><?= $this->team->title ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Логотип</label>
                <div class="controls">
                    <? if ($this->team): ?>
                    <img src="/img/team_pic/p144_<?= $this->team->logo ?>"
                         alt="">
                    <? endif ?>
                    <br><br>
                    <input type="file" id="file" name="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="city">Город</label>
                <div class="controls">
                    <input type="text" id="city"
                           name="city" class="title"
                           value="<? if ($this->team): ?><?= $this->team->city ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="arena_title">Арена / вместимость</label>
                <div class="controls">
                    <input class="title" type="text" id="arena_title"
                           name="arena_title"
                           value="<? if ($this->team): ?><?= $this->team->arena_title ?><? endif ?>">
                    <input class="number" type="text" id="arena_capacity"
                           name="arena_capacity"
                           value="<? if ($this->team): ?><?= $this->team->arena_capacity ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="datetime">Год основания</label>
                <div class="controls">
                    <input class="date" type="text" id="datetime"
                           name="datetime"
                           value="<? if ($this->team): ?><?= $this->team->datetime(Zend_Date::YEAR) ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="coach_name">Главный тренер</label>
                <div class="controls">
                    <input class="title" type="text" id="coach_name"
                           name="coach_name"
                           value="<? if ($this->team): ?><?= $this->team->coach_name ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="website_url">Сайт / email</label>
                <div class="controls">
                    <input class="title" type="text" id="website_url"
                           name="website_url"
                           value="<? if ($this->team): ?><?= $this->team->website_url ?><? endif ?>">
                    <input class="title" type="text" id="email"
                           name="email"
                           value="<? if ($this->team): ?><?= $this->team->email ?><? endif ?>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type">Тип команды</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="type"
                               id="type" value="k"
                               <? if ($this->team): ?>
                               <? if ($this->team->type=='k'): ?>
                               checked=""
                               <? endif ?>
                               <? endif ?>
                            >
                        клуб
                    </label><br>
                    <label class="radio">
                        <input type="radio" name="type"
                               id="type2" value="s"
                               <? if ($this->team): ?>
                               <? if ($this->team->type=='s'): ?>
                               checked=""
                               <? endif ?>
                               <? endif ?>
                            >
                        сборная
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"
                       for="iihf_rating">Рейтинг IIHF</label>
                <div class="controls">
                    <input class="number" type="text" id="iihf_rating"
                           name="iihf_rating"
                           value="<? if ($this->team): ?><?= $this->team->iihf_rating ?><? endif ?>">
                </div>
            </div>

            <div class="form-actions">
                <? if ($this->team): ?>
                <button type="button" class="btn btn-danger pull-right"
                        onclick="confirm_delete('<?= $this->url(
                            array('controller'=>'admin',
                                  'action'=>'delete-team',
                                  'id'=> $this->team->id))?>')">
                    удалить команду
                </button>
                <? endif ?>
                <button type="submit" class="btn btn-primary">
                    сохранить изменения
                </button>
                <button onclick="window.history.back()"
                        type="button" class="btn">
                    отмена
                </button>
            </div>
        </fieldset>

    </form>
</div>
<script type="text/javascript">
    var required = <?= json_encode($this->required) ?>;
    <? if ($this->errors): ?>
    var error_messages = <?= json_encode($this->errors) ?>;
    var original_data = <?= json_encode($this->original_data) ?>;
        <? endif ?>
</script>