<h1><?= $this->title($this->translate($this->category->title)) ?></h1>
<?= $this->partial('_side_panel.phtml') ?>
<div id="content">
    <ul class="items">
        <? foreach ($this->category->fetch_children() as $child): ?>
        <li class="item">
            <div class="i_pic">
                <a href="<?= $this->url(array('controller'=>'league',
                                              'action'=>'index',
                                              'id'=>$child->id)) ?>">
                    <img src="/img/main_pic/p144_<?= $child->image_file ?>"
                         alt="<?= $this->translate($child->title) ?>"></a>
            </div>
            <div class="i_t">
                <a href="<?= $this->url(array('controller'=>'league',
                                              'action'=>'index',
                                              'id'=>$child->id)) ?>">
                    <?= $this->translate($child->title) ?></a>
            </div>
            <div class="label1">
                <a href="#"> <?= $child->count_videos() ?></a>

            </div>
        </li>
        <? endforeach ?>
    </ul>
</div>