@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(sel1.png) no-repeat;
}

.jScrollPaneDrag {
	background: #aaa;
}

.cusel { /* общий вид селекта включая стрелку справа */
	height: 23px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	z-index: 1;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 20px;
	background-position: right top;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 21px;
	padding: 2px 0 0 7px;  /*подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #aaaaaa;
	color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #999999;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	background-image: url(sel1.png);
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(sel1.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 9px !important;
	height: 27px !important;
	right: -1px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}



/*
	styles for select
*/
.selectable .cusel {
	float: left;
}

.selectable .cusel,
.selectable .cuselFrameRight,
.selectable .jScrollPaneDrag,
.selectable .jScrollArrowUp,
.selectable .jScrollArrowDown {
	background: url(sel2.png) no-repeat;
}
.selectable .cusel { /* общий вид селекта включая стрелку справа */
	height: 20px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	z-index: 1;
}
.selectable .cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 20px;
	background-position: right top;
}

.selectable .cuselText { /* контейнер для отображенного текста селект */
	height: 19px;
	padding: 1px 0 0 7px;  /*подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.selectable .cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
}
.selectable .cusel span:hover,
.selectable .cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #aaaaaa;
	color: #fff;
}
.selectable .cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #999999;
	color: #fff;
	cursor: default;
}

/*
	styles for focus and hover
*/
.selectable .cusel:hover,
.selectable .cusel:hover .cuselFrameRight,
.selectable .cusel:focus,
.selectable .cusel:focus .cuselFrameRight,
.selectable .cuselFocus,
.selectable .cuselFocus .cuselFrameRight {
	background-image: url(sel2.png);
}

.selectable .cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.selectable .classDisCusel,
.selectable .classDisCusel .cuselFrameRight {
	background-image: url(sel2.png) !important;
	cursor: default;
	color: #ccc;
}
.selectable .classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.selectable .cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
.selectable .cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #999; /* границы выпадающего спиcка */
}

.selectable .cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.selectable .cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 9px !important;
	height: 27px !important;
	right: -1px; 
	
}

.selectable .cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.selectable .cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.selectable .cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.selectable .cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}

